[2019-07-04 14:05] dimitern opened #6 "Update pypi page for camelot"
@vinayak-mehta Now that the main repo has changed to this one, the https://pypi.org/project/camelot-py/ page should be also updated.

[2019-07-04 21:19] vinayak-mehta commented on #6
Yes, we can do that with the next release. There's already some fixes on master. I'll see if I can put more fixes in, will update the [Roadmap](https://github.com/camelot-dev/camelot/wiki/Roadmap). Planning on releasing `0.7.3` this weekend.

[2019-07-04 21:24] vinayak-mehta opened #7 "Preserve table captions and other relevant info"
Right now, it only parses text that is present within a table's boundary. Important information like table captions and footnotes should also be parsed.

![image](https://user-images.githubusercontent.com/4329421/60687999-1ee1a000-9ed0-11e9-88c0-67bada3be532.png)

[2019-07-04 21:25] vinayak-mehta opened #8 "Concat multi page tables"
Would be nice to have a way to merge tables which span multiple pages.

[2019-07-04 21:26] vinayak-mehta opened #9 "Add option to modify the ToUnicode map"
https://stackoverflow.com/questions/31876415/parsing-a-pdfdevanagari-script-using-pdfminer-gives-incorrect-output

[2019-07-04 21:29] vinayak-mehta opened #10 "Shift text up in hybrid spanning cells"
Shift text up based on the presence of horizontal lines and some metric based on blank rows. If the vertical lines are not present then, Stream generated columns/user given separators should be used.

For example:
![image](https://user-images.githubusercontent.com/4329421/60688109-cf4fa400-9ed0-11e9-8aa9-03ce0a383cd0.png)

[2019-07-04 21:30] vinayak-mehta opened #11 "Page splitting is very slow for some PDFs"
The function that checks for page rotation is the culprit. pdfminer's layout analysis takes a long time for such pdfs. Examples: the RNTB pdfs from un-sdg.

Adding a kwarg which lets user specify rotation can is a minor optimization that can fix this.

[2019-07-04 21:31] vinayak-mehta opened #12 "Useful stats in parsing_report"
Use-case:

Help the user drop tables in an ETL workflow based on parsing accuracy, whitespace in table cells.

More stat ideas:

- A boolean that tells if there might be encoding errors in the output.
- Distribution of font sizes?

[2019-07-04 21:33] vinayak-mehta opened #13 "Remove dependency on ghostscript and opencv"

[2019-07-04 21:35] vinayak-mehta opened #14 "Add OCR support"
The experimental version exists before this commit 9753889. It uses Tesseract (using pyocr). ocropy looked promising the last time I checked, opening this issue for discussion and experiments around OCR.

[2019-07-04 21:37] vinayak-mehta opened #15 "Duplicate strings assigned to the same cell"
Check out this [birdisland.pdf](https://github.com/camelot-dev/camelot/blob/master/docs/benchmark/stream/birdisland/birdisland.pdf) output [here](https://github.com/camelot-dev/camelot/blob/master/docs/benchmark/stream/birdisland/birdisland-data-camelot-page-1-table-2.csv).

[2019-07-04 21:38] vinayak-mehta opened #16 "Make PDFHandler more efficient"
Every time read_pdf is called, a new PDFHandler object is created, and parse (which splits a PDF into multiple single page PDFs). This is inefficient. Instead:

- Split and store single page PDFs into a temp directory named after the md5 hash of the master PDF file. And then calculate the actual new single page PDFs that are needed, based on the page numbers provided by the user (which can change)

[2019-07-04 21:40] vinayak-mehta opened #17 "Full table area not being detected"
Link to PDF: https://stackoverflow.com/questions/53203779/headers-are-not-getting-extracted-from-pdf-while-extracting-the-table-data-from

Steps to reproduce: `camelot -p 3 lattice -plot contour 007.pdf`

![image](https://user-images.githubusercontent.com/4329421/60688379-5a7d6980-9ed2-11e9-88f8-98112806d4f3.png)

[2019-07-04 21:41] vinayak-mehta opened #18 "Lines not being included in user specified table area"
Link to PDF: https://stackoverflow.com/questions/53203779/headers-are-not-getting-extracted-from-pdf-while-extracting-the-table-data-from

Steps to reproduce: `camelot -p 3 lattice -T 60,770,520,400 -plot grid 007.pdf`

![image](https://user-images.githubusercontent.com/4329421/60688421-987a8d80-9ed2-11e9-99d3-e77961593c92.png)

[2019-07-04 21:43] vinayak-mehta opened #19 "Automatically choose flavor based on type of table in PDF"
Continuing the conversation from [#102](https://github.com/atlanhq/camelot/issues/102).

@imri:

@vinayak-mehta

[2019-07-05 22:08] vinayak-mehta opened #20 "Use multiprocessing to parallely process PDF pages"
<pre>

</pre>

We could try and use all cores present on the machine using multiprocessing. More ideas are welcome.

[2019-07-05 22:20] vinayak-mehta opened #21 "Reduce file reads in camelot.handlers._save_page"
@niazangels

There's an associated PR https://github.com/atlanhq/camelot/pull/311

[2019-07-05 22:25] vinayak-mehta opened #22 "Use Appveyor for Windows support"
A lot of people face issues with ghostscript on Windows. Should we use Appveyor till we can remove ghostscript altogether?

[2019-07-05 22:32] vinayak-mehta opened #23 "AttributeError from PDFMiner"
@igormp

[2019-07-05 22:42] vinayak-mehta opened #24 "Print table to stdout"
@crotoc

[2019-07-05 22:46] vinayak-mehta opened #25 "edge_tol skipped in read_pdf"
@CartierPierre

[2019-07-06 18:12] #25 closed

[2019-07-06 19:01] vinayak-mehta opened #27 "Add more pdf-to-image engines?"
Ghostscript does the job of doing this currently but is a pain to install and debug and does not have a friendly license. Before we can do #13, does it make sense to use `python-pdfbox`. Then again, it downloads the pdfbox jar file and would need java to be installed on user systems.

https://github.com/atlanhq/camelot/pull/346

[2019-07-06 19:04] vinayak-mehta commented on #27
@dimitern What do you think?

[2019-07-06 19:05] vinayak-mehta commented on #23
- https://github.com/pdfminer/pdfminer.six/issues/210
- https://github.com/pdfminer/pdfminer.six/pull/228

[2019-07-07 10:17] vinayak-mehta commented on #23
@igormp @dimitern How do you suggest we go about this? We can reach out to the maintainer on email, or start a fork.

[2019-07-07 17:20] igormp commented on #23
The maintainers of both projects (the original PDFMiner and PDFMiner.six) still seem to be active, although not working on PDFMiner itself.
The best course of action would be if we could somehow at least merge the PRs sent into the original project and then release a new version onto PyPi. Maybe we could reach the maintainers to add us as collaborators or pass the repo on to another active maintai

[2019-07-08 07:42] anakin87 opened #28 "Optimize memory usage for long PDFs"
Using Camelot for some very long PDFs (>500 pages), I noticed that memory usage can grow significantly (in my experience, it can reach 30 GB and more).

I don't know if I'm doing something wrong.

Anyway, I found this solution: to divide the extraction into some chunks (for example, chunks of 50 pages); at the end of every chunk extraction, data are saved to disk.
Doing so, I succeed in limiting m

[2019-07-09 20:38] vinayak-mehta commented on #28
Woah 30 GB is a lot. I haven't had tried extracting tables from such large PDFs (~3000 pages). Is the memory is being taken up by pandas dataframes? Chunked extraction looks like a good way to go. What does your code snippet look like?

Also, if you don't mind me asking, what do these 3000 page PDFs contain? :sweat_smile:

[2019-07-09 20:44] vinayak-mehta commented on #23
https://github.com/pdfminer/pdfminer.six/issues/210#issuecomment-509800131

[2019-07-10 04:03] SebastianDeLaile opened #29 "ValueError: max() arg is an empty sequence"
When running on this document (https://www.qao.qld.gov.au/sites/qao/files/annual-reports/annual_report_2016-17.pdf), when it reaches page 4, it throws the following ValueError:

import camelot
camelot.read_pdf(path, pages='3', flavor='stream')

Traceback (most recent call last):
  File "<input>", line 2, in <module>
  File "C:\Users\sdelail\AppData\Local\Continuum\anaconda3\envs\Financial_Extracti

[2019-07-10 08:55] anakin87 commented on #28
Yes, memory is being taken up by pandas dataframes.
These long PDF contain regional balance sheets.

My code (chunked extraction) is similar to this:

from __main__ import logger
import camelot
import shutil
import pathlib
import json
import os
import glob

def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

def extract_ta

[2019-07-11 09:41] fakabbir commented on #23
I saw great efforts in fixing pdfminer by Elad(@eladkehat) at https://github.com/eladkehat/yapdfminer. There are many improvements that he has collected from different PRs and fixes. Maybe we can involve him into the discussion in case we are thinking to contact the current maintainers to extend the maintainers list.

[2019-07-11 10:39] eladkehat commented on #23
Thanks @fakabbir. I actually use Camelot and force my own version of PDFMiner due to the various open issues with the original. I'll be happy to help.

[2019-07-11 14:13] igormp commented on #23
Now all that's left is to reach an actual maintainer on the original repo

[2019-07-11 15:28] vinayak-mehta commented on #23
I see that @0xabu and @ganeshtata have merge access on the pdfminer.six repo, since they merged https://github.com/pdfminer/pdfminer.six/pull/230 and https://github.com/pdfminer/pdfminer.six/pull/227 fairly recently. I've pinged both of them on https://github.com/pdfminer/pdfminer.six/issues/210#issuecomment-509800681, let's wait for them to reply.

[2019-07-11 15:30] vinayak-mehta commented on #23
@pietermarsman has suggested some changes on https://github.com/pdfminer/pdfminer.six/pull/228. @igormp @fakabbir Do you have bandwidth to look into it?

[2019-07-12 05:20] fakabbir commented on #23
Yes, Sure I can do a PR this weekend then. Should I fork jtkese's repo https://github.com/pdfminer/pdfminer.six/pull/228 and do a PR on that, so that it gets added to the same conversation or a new PR. Which, you guys think will work faster/better ?

The talks related to pdfminer.six happens here on https://gitter.im/pdfminer-six/Lobby

[2019-07-12 06:42] vinayak-mehta commented on #23
You could fork jtkese's repo and add your commits to the same PR. If they take time to accept your commits, you could open a new PR with their and your commits.

[2019-07-14 08:21] lycanthropes commented on #13
OCR detection is really a tough work to do. If you could do that, I will bend my knee.

[2019-07-15 18:20] KOLANICH opened #31 "access violation writing 0x076ED670"
rc = libgs.gsapi_init_with_args(instance, len(argv), c_argv)
OSError: exception: access violation writing 0x076ED670

32-bit python
latest ghostscript

[2019-07-16 15:01] #31 closed

[2019-07-20 00:04] njss opened #37 "TableList error in Camelot and in Excalibur"
Occurs when running the camelot example (or when uploading a pdf in excalibur):

Traceback (most recent call last):
  File "camelottest.py", line 1, in <module>
    import camelot
  File "C:\Program Files\Python37\lib\site-packages\camelot\__init__.py", line 6, in <module>
    from .io import read_pdf
  File "C:\Program Files\Python37\lib\site-packages\camelot\io.py", line 5, in <module>
    from

[2019-07-23 10:06] dimitern opened #38 "Setup TravisCI to run on multiple OSes"
We can improve our TravisCI configuration so it runs on multiple operating systems, specifically having a Windows setup on CI could catch issues people are experiencing.

Here's the documentation and sample config how to achieve this:
https://docs.travis-ci.com/user/languages/python/#running-python-tests-on-multiple-operating-systems

[2019-07-23 10:09] dimitern commented on #22
@vinayak-mehta We could also try reusing TravisCI, as it seems to support Windows builds now (though seems to be still experimental). I've filed #38 for this.

[2019-07-26 13:52] sathk882 commented on #12
Also if possible can you add table bounding box coordinates in parsing_report?

[2019-07-28 11:49] vinayak-mehta commented on #12
@sathk882 They can be accessed with a `tables[0]._bbox`.

[2019-07-28 12:01] vinayak-mehta opened #39 "Drop Python 2 support?"
Should we set a date and add our project here? https://python3statement.org/

[2019-07-28 12:03] vinayak-mehta commented on #22
:+1:

[2019-07-28 12:04] vinayak-mehta commented on #38
Thanks for the pointer, I'll work on it this week.

[2019-07-28 12:12] vinayak-mehta opened #40 "Unify table_area input with output from Adobe PDF Viewer"
Based on the @CartierPierre's issue here https://github.com/atlanhq/camelot/issues/367.

[2019-07-28 12:13] vinayak-mehta commented on #40
@CartierPierre can you please post the steps to get table areas out of Adobe PDF Viewer?

[2019-07-28 13:59] sathk882 commented on #12
ok. thank you.

[2019-07-28 14:17] vinayak-mehta commented on #38
Just putting this here as a note: https://azure.microsoft.com/en-au/services/devops/pipelines/

[2019-07-28 21:45] boranaf commented on #17
Hi Vinayak Mehta, firstly many thanks for sharing a very useful tool/library. I sometimes have a similar issue, particularly if a row doesnt has label but no data. As a quick fix, for tables on full page, I thought of searching for the page number of the page containing certain text (with other libraries) but not with great success. I guess if I knew the page number I could give coordinates of the

[2019-07-29 07:21] CartierPierre commented on #40
Hi @vinayak-mehta 2 methods possible :
- Use pdf2img to transform pdf into pixels soup
- Or actually I use PDF Studio Viewer 2018 and measure area pixels with the square draw tool 😃

I don't know if it needs to be usable in excalibur interface (maybe pdf2img is easy ?)

[2019-07-29 10:16] CartierPierre commented on #40
Ok, maybe I was tired ... the area is good with excalibur, just Y axe is reversed, which is a common problem not resolved by a norme. So the 0,0 point is not top left as I thought, but it's bottom left ?

[2019-07-29 13:19] KOLANICH commented on #38
IMHO: GitLab has much better CI than Travis.

[2019-07-29 13:21] KOLANICH commented on #22
Can Wine be used as a free open-source Docker-compatible alternative to Windows?

[2019-07-29 13:31] KOLANICH commented on #27
Also GhostScript has a bad fame of being vulnerable. Probably we want something written in a memory-safe language like rust or java. So +1 for pdfbox. But for this being efficient we need https://github.com/lebedov/python-pdfbox/issues/10 first.

[2019-07-30 06:22] olivierberten opened #42 "Error: openpyxl.utils.exceptions.IllegalCharacterError"
[code]

By the way, which is the official issue tracker? This one or https://github.com/atlanhq/camelot/issues

[2019-07-30 11:39] spidysenses opened #43 "Assuming whole page as one table in stream flavour"
Camelot is assuming whole page as one table even there is sufficient space before and after table.
Only setting I could find is **column_tol**  which is default at Zero. It doesn't make any difference.
Is there any other setting for this?
And please answer one more question.
How are your coordinates different from pdfplumber?

[pdf](https://www.icra.in/Rationale/ShowRationaleReport/?Id=70577)

[2019-07-31 14:16] sathk882 commented on #12
@vinayak-mehta , the coordinates we are getting using tables[0]._bbox is with respective to what? image? page pdf?. I could not map these coordinates with either image or pdf. Can you please help?

[2019-07-31 19:46] udayrddy commented on #8
@vinayak-mehta I would like to contribute to this. However, I would like to know your expectations on the scenarios and how to handle those.

[2019-08-01 07:30] sathk882 opened #44 "Negative value as accuracy of table."
While testing I have faced a case where `table.accuracy` is negative number.

PDF:[page-3.pdf](https://github.com/camelot-dev/camelot/files/3455388/page-3.pdf)
Code:
[code]
Output:
`[99.99999999999997, -20.852716930856104]`

I think the reason is because in `compute_accuracy` method in utils.py while calculating accuracy we are subtracting error percentage from 1. It is supposed to be in the range

[2019-08-01 10:01] sathk882 opened #45 "Getting word coordinates in each cell"
I am able to get bounding boxes for each using `table.cells`, Any pointers to get bounding boxes for each word in each cell?

[2019-08-01 11:02] anakin87 commented on #45
https://github.com/atlanhq/camelot/issues/223

[2019-08-01 11:03] anakin87 commented on #44
https://github.com/atlanhq/camelot/issues/223

[2019-08-01 12:41] sathk882 commented on #44
closing as it is already raised in atlanhq/camelot repo

[2019-08-01 13:04] udayrddy commented on #45
@sathk882 Could you please present on what on tried? If there was error, please indicate steps to replicate the problem.

[2019-08-01 13:12] udayrddy commented on #29
@SebastianDeLaile That looks like the problem with 3rd page, may be because the page is image but not text

[2019-08-01 13:43] sathk882 commented on #45
@udayrddy , I am able to get bounding boxes for each cell using `table.cells` but currently I have no idea whether it is possible to get individual word coordinates in a particular cell. I tried `table._tex`t but it is also giving bounding box a text segment but not at word level.

Eg:<img width="1000" alt="Screenshot 2019-08-01 at 7 10 53 PM" src="https://user-images.githubusercontent.com/4412284

[2019-08-01 14:47] oliverbj commented on #11
@vinayak-mehta Any update on this? I've been testing a bit, and a simple one page PDF file I can process in under 1 second, however serving a two page PDF file it increases to around 5 seconds.

[2019-08-01 21:20] udayrddy commented on #45
@sathk882
Listed below are the elements in the result Object, which is restricted to the end purpose
`['cols', 'rows', 'cells', 'df', 'shape', 'accuracy', 'whitespace', 'order', 'page', 'flavor', '_text', '_image', '_segments', '_textedges', '_bbox']`

You can work around mapping `tables[-1].df` and `tables[-1].cells` to get the cell location as below

[code]

**To your ask**, which is completely

[2019-08-02 01:29] sathk882 commented on #45
ok. I know it is not an issue, I was just asking for pointers to do this. I do not think asking this in stack over flow will help, because i want to get word coordinates specifically in camelot. Anyways closing the issue.

[2019-08-02 01:29] #45 closed

[2019-08-02 02:29] vinayak-mehta commented on #44
Opening this as a reference instead.

[2019-08-02 05:27] vinayak-mehta commented on #29
Yep the 3rd page looks like an image.

[2019-08-02 05:27] #29 closed

[2019-08-02 10:07] dimitern commented on #29
I had this exception also when there are no tables recognized

[2019-08-02 20:25] null-directory opened #46 "winreg fails to find dll for ghostscript in 64bit Windows 10"
I got the following error using `camelot.read_pdf('some.pdf')` Tracing back the `RuntimeError`, it looks like `winreg` is looking at the wrong view of the registry:

![image](https://user-images.githubusercontent.com/11398106/62396711-dc989680-b541-11e9-91bb-7bb31abf3a51.png)

I don't know if my setup is odd (my system path may be a bit of a mess), but it may be good to detect which version of Win

[2019-08-02 20:29] null-directory commented on #46
Immediately after retrying, it seems like it's actually specifically searching for the 32bit version. If I add that one, it gets further (though I get `OSError: exception: access violation writing 0x...`).

[2019-08-02 20:36] null-directory commented on #31
Did you have a solution to this? I am seeing the same error.

[2019-08-02 22:53] KOLANICH commented on #31
The error was resolved by my PR. Install from this repo, not from pypi.

[2019-08-06 01:37] jnothman opened #47 "Improve test suite speed by storing PNG versions of test fixtures"
Currently lots of tests call `read_pdf`. This wastes time converting the PDF to raster images. This could be avoided.

[2019-08-08 15:18] Andhaa commented on #46
I'm getting the same error. Tried uninstalling 64bit version and installing 32bit version, which caused the error OSError: exception: access violation writing ......

[2019-08-13 13:24] udayrddy opened #49 "Great library, but ??!!"
_Stats below are pulled from PyPI downloads._
Despite being a better process than the others, what do you think supports the less usage.

![image](https://user-images.githubusercontent.com/33936764/62944891-a1049480-bdab-11e9-90a3-810d2904e889.png)

[2019-08-27 14:24] vinayak-mehta opened #50 "min_height/width to filter out tables?"
Refer https://github.com/atlanhq/camelot/issues/357.

[2019-08-27 14:32] vinayak-mehta commented on #49
Yep, this is a known issue. We need to figure out a way to replace ghostscript and opencv. https://github.com/camelot-dev/camelot/issues/13

Camelot uses only a small subset of code from ghostscript [1] (converting PDF to PNG) and opencv [2] (adaptive thresholding and morphological transformations). The only way I can think of is to re-implement these in Python and have them inside Camelot itself.

[2019-08-27 14:36] vinayak-mehta commented on #47
You're right, the PDF conversion for every test is not necessary. This looks like an easy enhancement, let me look into this over the weekend.

[2019-08-27 14:38] vinayak-mehta commented on #49
@jnothman Do you have any pointers around this?

[2019-08-27 14:42] vinayak-mehta commented on #46
Which version of camelot are you using?

[2019-08-27 18:21] sathk882 commented on #49
@vinayak-mehta , Have you tried pdftoppm( poppler utils) for converting pdf to png.

[2019-08-27 18:26] vinayak-mehta commented on #49
Yep, I tried it along with imagemagick before landing on ghostscript since the last one gave the best results in terms of image quality.

[2019-08-27 18:30] sathk882 commented on #49
Ok, In this [post](https://serverfault.com/questions/167573/fast-pdf-to-jpg-conversion-on-linux-wantedl), there was one more suggestion to do this with [MuPDF](https://mupdf.com/index.html)

[2019-08-27 20:47] jnothman commented on #49
Hey @vinayak-mehta, not sure where I can help here!  The change to pdfbox in #30 has been implemented too, but you need to confirm what kinds of discrepancies are acceptable between backends.

[2019-08-28 13:53] dimitern commented on #49
@akshowhini Camelot already is open source and MIT licensed. It looks like your CamelotPro uses some of the sources from Camelot (I guess to make it compatible), and is GPL 3.0 licensed. It will be nice to mention the original authors somewhere as well.

The SaaS backend you're using is proprietary licensed, but I supposed also uses Camelot.

I'd be interested to know more about the CamelotPro fla

[2019-08-28 15:12] vinayak-mehta commented on #49
I think it would make sense to include CamelotPro in Camelot if former's code is open-sourced. (assuming it works well on the current tests and more image-based tests)

I'd be interested in learning about the internal workings too!

I tried running the example you've provided in the README but it fails with a KeyError: https://github.com/ExtractTable/camelotpro/issues/1

[2019-09-11 06:17] manigandan-dorairaj commented on #31
Thanks, it worked. How to promote this to pypi?

[2019-09-14 16:24] Anandesh-Sharma opened #52 "ImportError: cannot import name 'PDFObjectNotFound'"
I got this error when I ran the piece of code below _**"from .pdftypes import PDFObjectNotFound"**_

I have installed both dependencies ghostscript and tkinter but no idea why it's throwing import error?

[code]

[2019-09-14 16:46] Anandesh-Sharma commented on #52
I figured out that the pdfminer is outdated.
`pip install pdfminer.six==20181108`

This worked for me

[2019-09-14 16:46] #52 closed

[2019-09-18 13:50] jndz2 commented on #37
The same problem occurs on my ubuntu machine.

`/usr/local/lib/python3.6/dist-packages/camelot/__init__.py in <module>()
      4
      5 from .__version__ import __version__
----> 6 from .io import read_pdf
      7 from .plotting import PlotMethods
      8

/usr/local/lib/python3.6/dist-packages/camelot/io.py in <module>()
      3 import warnings
      4
----> 5 from .handlers import PDFHandler

[2019-09-19 06:37] jndz2 commented on #37
pip install camelot-py[cv] has fixed the problem.

[2019-09-20 09:37] sathk882 commented on #20
Hi @vinayak-mehta ,

Even I thought of implementing this. [dramatiq](https://github.com/Bogdanp/dramatiq) or [celery](https://github.com/celery/celery) are my suggestions for asynchronous processing of pages.

[2019-09-21 11:36] jontis commented on #20
I'm doing this with dask but it's chosen out of habit.

[2019-09-22 14:31] raghuramdr opened #53 "Conversion to csv for Hindi pdf is not correct"
I am using Camelot to convert [this](https://drive.google.com/file/d/1QrnXdTGk8n8TsohKRQ5u7guZKezJgcMt/view?usp=sharing) document to csv. The csv [file](https://drive.google.com/file/d/1kLinDfoek0n_RcVAMD1nrxuDebOh2BQk/view?usp=sharing) is created however, the issue is it is not correct.

As can be seen from the shared original file and the converted csv file, the Hindi characters are not converte

[2019-10-05 09:55] c0nb4 commented on #8
The way I'm Doing this in my personal project is with

`pd.concat(self.list_of_dfs)`

The only problem I see is when tables have different column-names. So I just Rename them

`names = self.list_of_dfs[0].columns.tolist()
        for df in self.list_of_dfs:
            df.columns = names`

[2019-10-09 06:40] 13256701918 opened #54 "why module 'camelot' has no attribute 'read_pdf'"
"""""""""""""""""""
import camelot

tables=camelot.read_pdf("foo.pdf")
tables[0].df
tables.export("foo.csv",f="csv",comress=True)
tables[0].to_csv("foo.csv")

"""""""""""""""""
why ?

  File "C:/Users/jiuyang.wei/Desktop/ocr/another/camelot.py", line 8, in <module>
    import camelot

  File "C:\Users\jiuyang.wei\Desktop\ocr\another\camelot.py", line 10, in <module>
    tables=camelot.read_pdf("fo

[2019-10-09 07:31] #54 closed

[2019-10-13 17:38] sstangl opened #55 "Camelot takes 3 minutes on small PDF in lattice mode"
With Camelot 0.7.3 (installed from source), I ran the following command:

[code]

on the PDF https://rawpowerlifting.com/wp-content/uploads/2019/01/2019-Tioga-Downs-Results.pdf

It executed for about 3 minutes, producing the output:
[code]

[2019-10-13 18:37] vinayak-mehta opened #56 "Remove broken image from README"
![image](https://user-images.githubusercontent.com/4329421/66720127-77510380-ee16-11e9-8fc2-ae3f403a9d0b.png)

[2019-10-13 18:38] vinayak-mehta commented on #55
I'll try to reproduce this today.

[2019-10-14 03:35] vinayak-mehta opened #58 "Add FAQ section in docs"
- How is accuracy calculated?

[2019-10-14 03:37] vinayak-mehta opened #59 "Replace pdf-table-extract in the intro page with pdfplumber"

[2019-10-14 03:43] vinayak-mehta opened #60 "Stop supporting Python 2 with next release"

[2019-10-14 03:51] vinayak-mehta opened #61 "Add link to installation of external deps in the contributor's guide"
Specifically in the "Setting up a development environment" section.

[2019-10-14 04:06] vinayak-mehta opened #62 "Add opencollective link to documentation and README"

[2019-10-14 05:08] vinayak-mehta commented on #39
Closing in favor of #60.

[2019-10-14 05:08] #39 closed

[2019-10-14 05:10] vinayak-mehta commented on #6
This was fixed.

[2019-10-14 05:10] #6 closed

[2019-10-14 06:17] pravarag commented on #62
@vinayak-mehta I would like to work on this issue.

[2019-10-14 06:18] vinayak-mehta commented on #62
Thanks! This is the link: https://opencollective.com/camelot

[2019-10-14 06:23] sidntrivedi012 commented on #61
@vinayak-mehta Do we need to add `pip install camelot-py[dev]` to the Contributing guide for installing dependencies?

[2019-10-14 06:26] vinayak-mehta commented on #62
@pravarag You can take ideas from how we've set up the URL and supporting text from Excalibur.

[2019-10-14 06:29] kishvanchee commented on #61
I can take up this issue if no one has claimed it yet.

[2019-10-14 06:50] vinayak-mehta opened #63 "ZeroDivisionError: float division by zero - table_regions"
Raised by @shivohmgupta:

[code]

[2019-10-14 06:50] vinayak-mehta commented on #63
@shivohmgupta Can you please post the PDF that raised this issue?

[2019-10-14 07:03] sidntrivedi012 opened #64 "Link to python-tk package shows error."
The link to the `tk` package in the README shows error. We need to replace it with this link : https://packages.ubuntu.com/bionic/python/python-tk

/cc: @vinayak-mehta

[2019-10-14 07:13] pravarag commented on #62
@vinayak-mehta Following PR has been created to fix this issue: https://github.com/camelot-dev/camelot/pull/65

[2019-10-14 07:15] vinayak-mehta opened #66 "All values are getting displayed in single row using Camelot"
Refer https://github.com/atlanhq/camelot/issues/339

[2019-10-14 07:18] kishvanchee opened #67 "Camelot working on 3.7 not specified on installation page"
Index page badge specifies 3.7 (also specified on setup.py) but installation page does not specify 3.7. Minor doc fix.

[2019-10-14 07:23] vinayak-mehta opened #68 "ValueError: invalid literal for int() with base 10"
Refer https://github.com/atlanhq/camelot/issues/329

[2019-10-14 07:24] vinayak-mehta opened #69 "Unable to extract all pages and first two columns getting mixed"
Refer https://github.com/atlanhq/camelot/issues/328

[2019-10-14 07:26] vinayak-mehta opened #71 "Does not scrape 'old style numbers'"
Refer https://github.com/atlanhq/camelot/issues/327

[2019-10-14 07:28] vinayak-mehta opened #72 "NotImplementedError: only algorithm code 1 and 2 are supported"
Refer https://github.com/atlanhq/camelot/issues/325. `pdfquery` seems to work fine with the same PDF mentioned in the issue.

[2019-10-14 07:32] vinayak-mehta opened #73 "Should we skip tests for docfixes?"

[2019-10-14 07:32] vinayak-mehta opened #74 "Few columns are missing while to extracting data from the table"
Refer https://github.com/atlanhq/camelot/issues/324.

[2019-10-14 07:35] tandelDipak commented on #56
Can I work on this?

[2019-10-14 07:36] vinayak-mehta opened #75 "read_pdf fails with an index out of range"
Refer https://github.com/atlanhq/camelot/issues/306.

[2019-10-14 07:39] vinayak-mehta opened #76 "Improve test coverage"
You can check out the code which is not covered by current tests here: https://codecov.io/github/camelot-dev/camelot?branch=master and raise tests for it.

[2019-10-14 07:42] kishvanchee commented on #73
I came across [this](https://github.com/facebook/react/issues/1768) which shows many users facing similar problems.

[Related thread](https://github.com/kubernetes-sigs/kubefed/issues/575) which suggests that we can have a check, to not build if changes are only to `.rst` files. If this is possible please let me know, not that knowledgeable with Travis.

A suggestion [here](https://github.com/kube

[2019-10-14 07:51] pravesh29 opened #77 "Getting ValueError: not enough values to unpack (expected 2, got 1)"
Hi, I am getting this particular error in this specific pdf only and all other pdf have been extracted easily. Kindly look into this. I have send the screenshot of error and pdf too.
[AC172.pdf](https://github.com/camelot-dev/camelot/files/3723453/AC172.pdf)
![Screenshot from 2019-10-14 13-18-10](https://user-images.githubusercontent.com/28472207/66735963-84590b80-ee85-11e9-8efb-c8467653dfd3.png)

[2019-10-14 08:02] kishvanchee commented on #67
Added PR. After merging please close this issue.

[2019-10-14 08:06] nightwarrior-xxx commented on #58
@vinayak-mehta I want to work on this issue

[2019-10-14 09:05] pravarag commented on #64
@sidntrivedi012 are you working on this issue? Otherwise I would like to take it.

[2019-10-14 09:10] pravarag commented on #75
@vinayak-mehta I would like to work on this issue.

[2019-10-14 10:33] rohang1997 commented on #77
hey,

actually your pdf have some unknown characters at the end of file.
what you can do is

go to https://pdfjoiner.com/

and just start the process and redownload the file .
It should remove the unknown characters.

PyPDF2 library is not finding the end of file and therefore the error.
Please redownload the new file created by pdfjoiner and try

[2019-10-14 12:33] rohang1997 commented on #75
hey,

go to /lib/python3.6/site-packages/pdfminer/cmapdb.py

at line around 399,
instead of
self.cmap.add_cid2unichr(s1+i, code[i])

put this,
try:
    self.cmap.add_cid2unichr(s1+i, code[i])
except:
     pass

problem solved!

one more problem is , it is not able to detect more than one table

[2019-10-14 18:26] #56 closed

[2019-10-15 04:03] sidntrivedi012 commented on #64
@pravarag , You can take it. I'm not working on it as of now.

[2019-10-15 04:07] #67 closed

[2019-10-15 05:05] vinayak-mehta opened #80 "Lattice with html output truncates text longer than 46 characters"
Refer https://github.com/atlanhq/camelot/issues/279.

[2019-10-15 05:07] vinayak-mehta opened #81 "AssertionError from pdfminer"
Refer https://github.com/atlanhq/camelot/issues/226.

[2019-10-15 05:12] vinayak-mehta opened #82 "Cannot use on password protected files"
Refer https://github.com/atlanhq/camelot/issues/162.

[2019-10-15 05:15] vinayak-mehta opened #83 "Add support for reading tables with Arabic fonts"
Refer https://github.com/atlanhq/camelot/issues/141.

[2019-10-15 05:26] pravesh29 opened #84 "PdfReadWarning: Multiple definitions in dictionary at byte 0x29f for key /Type [generic.py:588]"
getting this issue again and again for multiple pdf.
![Screenshot from 2019-10-15 10-54-22](https://user-images.githubusercontent.com/28472207/66802523-5681ce80-ef3a-11e9-8f37-7c825baaa3fb.png)

[2019-10-15 05:37] pravesh29 opened #85 "extracted file not comming properly"
Hi, I have got multiple pdf with different text sometime the extracted file got changed or sometime it come like gibberish I am sending you both samples of pdf with their outputs
[AC049.pdf](https://github.com/camelot-dev/camelot/files/3727473/AC049.pdf)
[AC049.xlsx](https://github.com/camelot-dev/camelot/files/3727480/AC049.xlsx)
[AC001.pdf](https://github.com/camelot-dev/camelot/files/3727490/AC

[2019-10-15 06:00] pravarag commented on #64
@vinayak-mehta following PR has been created: https://github.com/camelot-dev/camelot/pull/86

[2019-10-15 06:59] vinayak-mehta commented on #43
Since the table exists only on a very small part of the page, it's not able to contribute to the guessed table. You can try using the `table_area` keyword argument.

I haven't been able to get time to look into how `pdfplumber` coordinates are different.

[2019-10-15 06:59] #43 closed

[2019-10-15 07:02] vinayak-mehta commented on #42
@olivierberten Can you also post the PDF that raised this error? This is the official issue tracker.

[2019-10-15 07:03] vinayak-mehta commented on #40
@CartierPierre Yes bottom left is the origin.

[2019-10-15 07:06] #37 closed

[2019-10-15 07:12] vinayak-mehta commented on #28
I think this should instead be part of the FAQ / guidelines i.e. one should flush tables to disk every `n` pages.

[2019-10-15 07:12] #28 closed

[2019-10-15 07:13] vinayak-mehta commented on #58
@nightwarrior-xxx You can do that! https://github.com/camelot-dev/camelot/issues/28#issuecomment-542072849 could be another FAQ that could be added. "How to optimize memory usage for large PDFs?"

[2019-10-15 07:36] anakin87 commented on #58
@vinayak-mehta  If I find the time, I can work on memory optimization FAQ, if you want. Please let me know how to address this theme..

[2019-10-15 07:41] vinayak-mehta opened #87 "Can ghostscript + tk and opencv be wasmized?"
My understanding of @dabeaz's keynote: he compiled some Rust code into wasm, which he ran from the Python interpreter. Is it possible to do this for our non-Python dependencies and include those wasm files with the package itself so that separate installation isn't needed. Opening this issue for ideas, pointers around wasm, existing Python projects that might've done this etc.

[2019-10-15 07:42] nightwarrior-xxx commented on #58
@anakin87  We i.e. @nightwarrior-xxx and @CRTejaswi  are working on this issue please make sure that you don't add duplicate questions.

[2019-10-15 08:55] vinayak-mehta commented on #87
@KOLANICH What do you think about this?

[2019-10-15 09:04] vinayak-mehta commented on #23
https://github.com/camelot-dev/camelot/issues/23#issuecomment-508947380
@igormp Looks like one upstream issue was fixed, are you still facing this problem?

[2019-10-15 09:04] vinayak-mehta commented on #23
Please reopen if you still do.

[2019-10-15 09:04] #23 closed

[2019-10-15 09:59] vinayak-mehta opened #88 "Raise informative error when no text in bounding box"
Right now, it just fails with `min() arg is an empty sequence`.

[2019-10-15 10:11] vinayak-mehta commented on #11
@oliverbj Can you post that file?

[2019-10-15 10:14] vinayak-mehta commented on #8
@akshowhini This is easy to do when the number and name of columns are the same, which doesn't happen very often. A robust way to do this would be to group multiple tables from different pages based on partially matching the column names (based on some threshold) and concatenate them.

[2019-10-15 10:21] pravarag commented on #74
I reproduced the issue of mentioned PDF files in the referenced link for, the particular portion of table in PDF 1 & 2 comparing with PDF 3. Table area used were['12, 427, 829, 374'] and I was able to see all the columns for the dataframe in that particular area.

[2019-10-15 11:31] alireza7575 commented on #88
May I work on it?

[2019-10-15 12:22] vinayak-mehta commented on #58
@nightwarrior-xxx We can all work on it together :)

I was thinking that maybe we should add a code snippet based on a simpler version of @anakin87's snippet from the issue mentioned above. We could say that if the user has a lot of pages, then they extract tables from chunks of pages, flush those dataframes to disk and then delete the dataframes.

[2019-10-15 12:23] vinayak-mehta commented on #88
@pravarag is working on it here at the devsprint.

[2019-10-15 12:24] vinayak-mehta commented on #74
@Jackblackpearl You can try using table areas like mentioned in the comment above.

[2019-10-15 12:24] #74 closed

[2019-10-15 12:26] vinayak-mehta commented on #73
Will have to research more around how to do this.

[2019-10-15 12:27] vinayak-mehta commented on #62
Closed in #65.

[2019-10-15 12:27] #62 closed

[2019-10-15 17:37] nightwarrior-xxx commented on #58
@nightwarrior-xxx Sounds like a good plan.

[2019-10-15 22:02] KOLANICH commented on #87
Where can I see the video?

It is probably possible, but IMHO doesn't make sense. OpenCV is large. One doesn't want to have multiple copies of OpenCV on a local machine. OpenCV makes use of hardware resources not available in WASM, like OpenCL.

GhostScript is not so large, but it is so vulnerable.

Running wasm modules has some overhead since the code in them is not native to the CPU.

So big IMH

[2019-10-16 06:11] vinayak-mehta commented on #23
Awesome!

[2019-10-16 14:41] mikkkee commented on #11
Hi @vinayak-mehta , you can check this file https://we.tl/t-1giDJuXVnJ
It is very slow. Parsing 10 pages took 1340s.

[2019-10-17 07:34] vinayak-mehta commented on #87
There's no official recording yet but David recorded a screencast on his laptop which can be found [here](https://www.youtube.com/watch?v=r-A78RgMhZU).

What if we package a small subset of opencv that is needed inside camelot?

That could be a possibility.

Oh does it? I thought wasm should run fine as it is assembly code (therefore native) and can be executed directly inside the Python (or any o

[2019-10-17 17:42] KOLANICH commented on #87
One cannot eliminate the overhead of compiling wasm into opcodes of target architecture.

This should be dealt not by bundling everything and doing shit like snaps, but by improving package managers. Here are some ideas: https://github.com/open-source-ideas/open-source-ideas/issues/50 .

[2019-10-17 20:30] pravarag commented on #88
#92

[2019-10-18 04:12] pravarag commented on #38
@vinayak-mehta I'll be taking up on this issue

[2019-10-18 20:46] brockerdock opened #93 "table_regions property doesn't work with 'stream'"
Hello,

I'm trying to detect a table without lines within a pdf-page. As the table is without lines I need to use the Stream-method. Sadly Stream only recognizes a table on the upper part of the page. I therefor thought it would come handy to specify the area on the page where the table lies. Doing so with the table_regions option does work for lattice but not for stream.

Here the output of the t

[2019-10-18 21:39] brockerdock commented on #93
I managed to get the stream-method to work with the table_regions-property by changing some code in the file "C:\Users\mlaptop\Anaconda3\lib\site-packages\camelot\parsers\stream.py":

` for region in self.table_regions:
          x1, y1, x2, y2 = region`

to
`for region in self.table_regions:
    x1, y1, x2, y2 = region.split(",")
    x1=float(x1)
    y1=float(y1)
    x2=float(x2)
    y2=float(y2)

[2019-10-19 15:33] Jackblackpearl commented on #74
Thank vinayak. Will try waiting for long time for your inputs

[2019-10-21 21:24] davidkong0987 commented on #15
I believe this occurs when bold characters are created by putting duplicate characters instead of widdening the character. I've noticed it often creates 4 copies of each, although in your example it is 2x. That implies it might be at the pdf level. I think it might be at the pdf level because these bold characters don't have any difference in terms of font and other characteristics.

[2019-10-21 21:28] davidkong0987 commented on #15
In addition, this is made worse by the fact in some duplicates, the LTHorizontal Object splits the line into two, and in some duplicates it is not split.

[2019-10-22 06:27] TheNetJedi commented on #15
Yep, facing the same issue.
And yes, this only occurs with bold characters AFAIK.
Any workaround for this apart from fixing the PDFs?

[2019-10-22 06:48] davidkong0987 commented on #15
There's a relatively easy fix that probably works most of the time (haven't seen a counter example but assume there might be some) by simply eliminating any fully overlapping LTHorizontals.

[2019-10-22 10:14] TheNetJedi commented on #15
@davidkong0987

Can you please guide me on how I would do that?
I'm a noob.

[2019-10-22 11:35] nightwarrior-xxx commented on #58
@vinayak-mehta  Please look at this #90

[2019-10-22 12:50] anakin87 commented on #58
If you want, I can prepare a simpler version of my snippet, better explicating what I do to save memory.

[2019-10-22 18:08] davidkong0987 commented on #15
You need to change the source code so this isn't a great task if you're not comfortable with programming.

Whenever you see horizontals = get_text_objects(ltype=LThorizontal), you can do the following code to delete horizontals.

[code]

If anyone notices cases that this does not cover, please let me know.

[2019-10-23 03:41] TheNetJedi commented on #15
@davidkong0987

Thanks, I'll try this out and get back to you!

[2019-10-25 08:41] davidkong0987 commented on #15
sometimes text is stacked on top of each other intentionally, this doesn't adjust for that

[2019-10-25 15:36] sidntrivedi012 commented on #64
Solved in #86. Thanks.

[2019-10-25 15:37] #64 closed

[2019-10-26 21:01] miltonArango commented on #76
I did some test to increase the coverage! https://github.com/camelot-dev/camelot/pull/94

[2019-11-05 12:27] iambatman07 commented on #53
Hey @vinayak-mehta , camelot uses "pdfminer" underneath for text recognition, so my guess is it's a bug from their end and to be honest character recogntion for any native languages is not so good to begin with so I suggest you explore the Amazon Textract for this it's proven to have good results.

[2019-11-05 20:18] ashokbalaraman opened #95 "Tables without borders are not identified as tables"
If there are tables without the side bars, the camelot.read_pdf(filename) returns <TableList n=0>

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4254480/pdf/e2014.00187.pdf

[2019-11-06 08:34] anakin87 commented on #95
What is your output?
Did you try flavor=stream?

[2019-11-06 20:15] ashokbalaraman commented on #95
I tried.  With that it is returning all the text in the PDF documents as tables. No luck.

[2019-11-07 06:32] anakin87 commented on #95
You can specifiy [table areas](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas).
You can detect table coordinates doing [visual debugging](https://camelot-py.readthedocs.io/en/master/user/advanced.html#visual-debugging).

[2019-11-07 11:33] selcukusta commented on #20
Is there any improvement in there? I have a file that has only one page. The page has a table (25 rows x 13 columns). Each cell has `read_pdf` function takes 10 seconds after that `to_excel` takes only 100-150 ms. I'm thinking about 10 seconds is too long, am I wrong?

[2019-11-11 12:03] mr-bjerre commented on #20
@selcukusta I think this is more about running multiple pages at the same time rather than speeding up the extraction of a single page.

But does anyone have a solution for multiple pages in parallel?

[2019-11-11 15:29] vinayak-mehta commented on #20
Yes!

Using multiprocessing, we should be able to distribute multiple pages on all cores, processing them in parallel.

[2019-11-11 15:32] mr-bjerre commented on #20
I get this though

    objc[53475]: +[__NSPlaceholderDate initialize] may have been in progress in another thread when fork() was called. We cannot safely call it or ignore it in the fork() child process. Crashing instead. Set a breakpoint on objc_initializeAfterForkError to debug.

[2019-11-12 00:32] miguelgarces123 opened #96 "Could you use camelot in an image file?"
Is there a way to use camelot over an image file to detect the tables in a table?

[2019-11-12 10:42] selcukusta commented on #20
Yeah, I know. Actually it's related with [that](https://github.com/atlanhq/camelot/issues/301) but the issue was closed and referenced to it.

[2019-11-13 11:25] kartik4949 commented on #69
@vinayak-mehta Can i Work on this issue??

[2019-11-14 21:45] #46 closed

[2019-11-14 21:49] vinayak-mehta commented on #31
I'll make a release soon.

[2019-11-14 21:53] #77 closed

[2019-11-14 21:54] vinayak-mehta commented on #75
This will probably have to be fixed in pdfminer.

[2019-11-14 21:54] #75 closed

[2019-11-14 21:55] vinayak-mehta commented on #84
Not enough information to reproduce.

[2019-11-14 21:55] #84 closed

[2019-11-14 22:08] vinayak-mehta commented on #87
:+1:

[2019-11-14 22:17] vinayak-mehta commented on #93
@brockerdock This was fixed on master (https://github.com/camelot-dev/camelot/blob/master/camelot/parsers/stream.py#L300). Need to make a release.

[2019-11-14 22:17] #93 closed

[2019-11-14 22:19] vinayak-mehta commented on #58
@anakin87 That would be awesome! Please raise a PR when you get time.

[2019-11-14 22:21] vinayak-mehta commented on #15
Yes! Let me see if I can get this into the library. Would you like to raise a PR with a corresponding test with the example PDF?

Yes.

[2019-11-14 22:30] vinayak-mehta commented on #11
@mikkkee Thanks for the pdfminer PR!

[2019-11-14 22:34] vinayak-mehta commented on #53
@raghuramdr Looks like a problem with the PDF itself. You can see that by copy pasting the hindi text.

[2019-11-14 22:34] #53 closed

[2019-11-14 22:35] vinayak-mehta commented on #95
@ashokbalaraman Please try the above options and reopen if you still face any issues.

[2019-11-14 22:35] #95 closed

[2019-11-14 22:36] vinayak-mehta commented on #96
Not yet.

[2019-11-14 22:36] #96 closed

[2019-11-14 22:39] vinayak-mehta commented on #69
I'm closing this for now due to insufficient information in the original issue.

[2019-11-14 22:39] #69 closed

[2019-11-15 04:47] KOLANICH commented on #87
BTW, thanks for the link to the video.

[2019-11-15 05:17] vinayak-mehta commented on #87
You can also check out [1] and [2] if you're interested. WASM sure looks promising. Thanks for the link to the open-source-ideas repo, didn't know it existed!

[1] https://www.youtube.com/watch?v=u2kKxmb9BWs
[2] https://www.youtube.com/watch?v=eJMT1aImS9Q

[2019-11-19 13:00] bikashgupta11 opened #98 "Index out of range in Lattice Parser"
For one of the document I have got index out of range. Please suggest to handle the error. May be for few row there can be error but can we save the partial extracted data to dataframe?

### Config for parser

`parser = Lattice(line_scale=30, split_text=True)`

### Sample Input Table
![tempsnip](https://user-images.githubusercontent.com/4414427/69148483-6de44680-0afa-11ea-9d55-28a4ac31f147.png)

#

[2019-11-23 14:59] bikashgupta11 commented on #98
Please find below fix for the same

https://github.com/camelot-dev/camelot/pull/99

[2019-11-28 07:05] asherchoi opened #100 "CJK language support?"
PdfReadWarning: Illegal character in Name Object [generic.py:489]
Traceback (most recent call last):
File "parser.py", line 43, in
pprint(HanWhaLifeInsuranceParser.parse(path))
File "parser.py", line 25, in parse
tables = camelot.read_pdf(file_name)
File "/home/choi/parserenv/lib/python3.6/site-packages/camelot/io.py", line 117, in read_pdf
**kwargs
File "/home/choi/parserenv/lib/python3.6/site-pa

[2019-12-05 06:43] alison84r opened #101 "Opencv memory error"
Hi I am getting this error when I am trying to test the Camelot to read my pdf.

![image](https://user-images.githubusercontent.com/12997350/70210438-a6ba2780-1758-11ea-9e41-c9d623d872ab.png)

Can you tell me if I am doing anything wrong ?

[2019-12-05 07:47] #101 closed

[2019-12-05 07:50] alison84r opened #102 "Tables are not recognized"
Hi,
I have one pdf , where I am not able to recognize the Tables.
Is there any thing special settings I need to do.
These are some types of tables I will be encountering.

[drw0004.pdf](https://github.com/camelot-dev/camelot/files/3925627/drw0004.pdf)

[2019-12-06 15:36] Lnk2past opened #103 "Allow read_pdf to accept a file-like object"
In our use case we have PDF data streamed in memory from an external service; in order for us to process it using `camelot` we need to save that data out to a file and then pass the filename over. It would be great to be able to just send a file-like object through the interface instead, as this would save us from needing to write temporary files only to read them back in. I do not think there is

[2019-12-11 14:44] anakin87 opened #104 "Other index error in lattice parser"
I tried to extract tables from this [PDF](https://github.com/camelot-dev/camelot/files/3950873/191204A61SO2.pdf) with the following code:
`tables=camelot.read_pdf('mydoc.pdf', flavor='lattice' , line_scale=80, pages='1-end')`

**Error**
Traceback (most recent call last):

  File "/usr/src/app/swagger_server/services/extract_tables_from_pdf.py", line 108, in extract_tables_from_path
    tables = ca

[2019-12-12 13:52] CImrie opened #105 "Thank you & a PHP Wrapper"
Hi,

Fantastic work on the library! I am starting a new project that relies heavily on extracting tables from PDF files. I wanted to use Amazon Textract because it was affordable but it doesn't provide any customisation like this. So thanks a lot, as it will be invaluable.

Since I predominantly work with Laravel & PHP I have wrapped the CLI with a PHP library.
Just a shout out if anyone ever need

[2019-12-30 05:52] dpranav1988 commented on #19
Hi @vinayak-mehta ,

Could you please let me know how i can auto detect when to use lattice and stream. I dont want to check manually rather need an automated way to identify

Thanks in advance

[2020-01-04 02:11] gwh204 opened #106 "Unable to recognized tables"
Are there any settings I can use to auto detect these borderless tables? I've tried a number of different stream settings without success.

Using Excalibur, I have manually identify the individual table regions and everything can be parsed perfectly. I'm looking to automate that detection process. Any help would be much appreciated!

[S1F1IND.pdf](https://github.com/camelot-dev/camelot/files/40214

[2020-01-06 17:09] lnicalo opened #107 "Unable to process landscape pdf files"
My issue is that camelot is unable to detect tables in landscape text pdf documents. I am getting a warning: UserWarning: page-1 is image-based, camelot only works on text-based pages. [lattice.py:393]

Pdf contains text and not a picture of the table. Is it possible to configure camelot to process landscape pdf docs?

Thanks.

[2020-01-13 07:26] ziaulrehman40 opened #108 "FEATURE REQUEST: Support remote public files"
I want to be able to give a public url to camelot CLI and would like it to read the file from remote and do the processing on it. It should be fairly small feature to suport. But with great advantage for some scenarios.

My scenario, where this feature would help is that I am trying to use camelot in non-python language, the way i have choosen to go is to use camelot CLI, but as camelot accepts on

[2020-01-13 08:51] vinayak-mehta commented on #108
Thanks for filing this issue, I'll add it to the project backlog. Will go through the backlog this week and see what all can be implemented in the next release.

[2020-01-14 08:27] simepy opened #109 "Difference between table_regions and table_areas"
I read and re read the doc, but I still don't understand the difference between, `table_regions` and `table_areas`
For me this two parameter make the same thing..., but the doc specify then `table_regions` work on `approximate region`.

I think the doc can be more specific about what mean `approximate region` and what is the difference with `table_areas`

I hope someone can explain to me the chang

[2020-01-14 17:25] Shyam-Vishnu opened #110 "Readable pdf treated as image based."
[abm.pdf](https://github.com/camelot-dev/camelot/files/4060461/abm.pdf)

Files that are text based (can select the text) is being treated as an image based file. This was earlier an image based file that has been converted to text based.
Also tick boxes cannot recognized.

Works on other templates with borders. Will share that too if required.

And also thanks for camelot!

[2020-01-19 02:18] JosePVB commented on #50
First of all, let me say that this is a great library! Parsing table data out of PDFs is very hard and this library makes this much more accessible.

I'd like express my interest in this feature as well. For the last page of the following PDF, http://web2.gov.mb.ca/bills/40-5/billstatus.en.pdf, I tried the suggested `table_regions` argument that was suggested in atlanhq/camelot#357, but I encounte

[2020-01-20 17:09] #109 closed

[2020-01-20 17:10] simepy commented on #109
https://stackoverflow.com/questions/59826810/difference-between-table-regions-and-table-areas

[2020-01-28 11:57] ziaulrehman40 opened #111 "FEATURE REQUEST: Handling striked out text in tables."
One of the issues we are facing is table is extracted, but we loose the strike out indication in text, i understand striking text out is not built in font features but rather some css or other means of styling are used to strike text out.
Example below, left is extracted data(shown in custom view) and right is the pdf table row.

![image](https://user-images.githubusercontent.com/22441482/73261572

[2020-02-07 05:27] achyuth588 opened #113 "getting coordinates of a page"
in table_areas field, the command is given as
" >>> tables = camelot.read_pdf('table_areas.pdf', flavor='stream', table_areas=['316,499,566,337'])

So here table_areas=['316,499,566,337']
how to know these co-ordinates of a pdf page.(x1,y1,x2,y2)

[2020-02-08 07:13] woshizouguo commented on #27
Is there any update on removing GhostScript?

[2020-02-09 15:55] marcecevallos opened #114 "<Solved> Cannot import name 'get_compression_method' from 'pandas.io.common' and 'is_url' from pandas"
Hi, I have been searching from this error online, but apparently Im the first one to have a problem pandas related while with camelot:

test[0].to_csv("foo.csv")

results in:
ImportError: cannot import name 'get_compression_method' from 'pandas.io.common' (C:\Users\marce\Anaconda3\lib\site-packages\pandas\io\common.py)

![image](https://user-images.githubusercontent.com/51297505/74105293-c7d63480-

[2020-02-09 18:52] marcecevallos commented on #114
I updated the python environment as well as pandas and it is working now. Thank you

[2020-02-09 19:04] LilyChenNorge opened #115 "Error: Microsoft Visual C++ 14.0 is required when installing package camelot-py"
Hi,

I failed to install the camelot-py package in PyCharm. Could anyone help me with this problem? Thanks in advance! :)

The error is as below:
error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": https://visualstudio.microsoft.com/downloads/

Command output is following:
Collecting camelot-py
Using cached https://files.pythonhosted.org/packages/70/d6/a47

[2020-02-25 04:38] mssalvadk commented on #72
Hi Vinayak, any resolution on this issue?  I do encountered the same issue.

~\AppData\Local\Continuum\anaconda3\envs\$env_np\lib\site-packages\PyPDF2\pdf.py in _decrypt(self, password)
   1994             raise NotImplementedError("only Standard PDF encryption handler is available")
   1995         if not (encrypt['/V'] in (1, 2)):
-> 1996             raise NotImplementedError("only algorithm cod

[2020-02-26 00:53] laventy commented on #113
![image](https://user-images.githubusercontent.com/18434619/75301321-9ebce000-588e-11ea-8c44-c2ceaee82422.png)

[2020-02-29 05:02] mayur88888 opened #116 "https://easyupload.io/dbxokl (https://easyupload.io/dbxokl) this is my pdf file link ….out put is not complete so you can help me extract the data"

[2020-03-03 13:00] KoustavCode opened #117 "Unable to retrieve table from document if there is more spacing in betwwen"
I am unable to retrieve table which is appearing at the bottom of the page after some spacing.

Please any one can help attaching the sample page here.

[sample file1.pdf](https://github.com/camelot-dev/camelot/files/4281362/sample.file1.pdf)

[2020-03-11 07:02] lemonramen3 opened #118 "Titles are extracted into the tables"
https://stackoverflow.com/questions/60473093/how-to-extract-tables-from-pdfs-using-camelot-py-without-extracting-the-titles-o

[2020-03-15 12:17] jedie opened #120 "camelot.plotting.PlotMethods.filename unused?!?"
`PlotMethods.__call__()` takes the argument `filename` but it's unused, isn't it?

Seems this was made with: https://github.com/camelot-dev/camelot/commit/db3f8c689765bddf725f319e173c10402d5f312d#diff-364c2ff947aafef15111e866f5ad5614R13

[2020-03-15 12:21] jedie commented on #120
https://github.com/camelot-dev/camelot/pull/121 will fix this.

[2020-03-21 12:13] vinayak-mehta commented on #100
Camelot uses pdfminer under the hood. Did you find a similar issue on the pdfminer issue tracker? Without the PDF, it would be difficult to suggest a fix.

[2020-03-21 12:13] #100 closed

[2020-03-21 12:21] vinayak-mehta commented on #102
You can play with the `line_scale` option to help Camelot recognize these small tables.

[2020-03-21 12:21] #102 closed

[2020-03-21 12:38] vinayak-mehta commented on #105
Thanks for creating a PHP wrapper! I've added it to the README.

[2020-03-21 12:38] #105 closed

[2020-03-21 12:50] vinayak-mehta commented on #106
Using Excalibur to select table regions would be the best strategy for this PDF

[2020-03-21 12:50] #106 closed

[2020-03-21 12:51] vinayak-mehta commented on #107
You can try rotating the PDF and then passing it into Camelot

[2020-03-21 12:51] #107 closed

[2020-03-21 12:54] vinayak-mehta commented on #111
Thanks for reporting, I've added it to the backlog.

[2020-03-21 12:55] #113 closed

[2020-03-21 12:55] #114 closed

[2020-03-21 12:58] vinayak-mehta commented on #115
Sorry I can't reproduce this error because I don't have a Windows machine

[2020-03-21 12:58] #115 closed

[2020-03-21 12:58] #116 closed

[2020-03-21 13:00] vinayak-mehta commented on #118
You can select the exact table area in this case https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas

[2020-03-21 13:00] #118 closed

[2020-03-21 13:02] vinayak-mehta commented on #117
You can try specifying table areas and column separators https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas

[2020-03-21 13:02] #117 closed

[2020-03-21 13:29] vinayak-mehta commented on #120
Thanks for reporting this! Added a review on the PR.

[2020-03-26 18:53] stepan-neretin7 opened #122 "Camelot dont find tables in pdf document"
[175_1580-Smaragd9-500-K.pdf](https://github.com/camelot-dev/camelot/files/4389297/175_1580-Smaragd9-500-K.pdf)
[1 Smaragt Gigant800.pdf](https://github.com/camelot-dev/camelot/files/4389298/1.Smaragt.Gigant800.pdf)
Camelot dont find tables in document, please check it

[2020-03-30 13:30] reefette opened #123 "camelot.ext.ghostscript._gsprint.GhostscriptError: -100"
Windows 10
Python 3.7.4
Ghostscript 9.5.2

installed camelot from the repository (not pip)

Got this error

  File "data_extract2.py", line 17, in get_data_tables
    return camelot.read_pdf(daily_url, pages="all")
  File "C:\Users\AppData\Local\Programs\Python\Python37-32\lib\site-packages\camelot\io.py", line 117, in read_pdf
    **kwargs
  File "C:\Users\AppData\Local\Programs\Python\Python37-3

[2020-04-01 07:21] devspectre opened #124 "Camelot.read_pdf with flavor='lattice' does not detect a table with two rows"
I have a landscape PDF and on a page it has three tables with correct and clear grid lines.
However, read_pdf detects only two tables and does not detect second table which has two rows and three columns.
Other tables have 6 rows.
Is there any option to specify minimum detectable row numbers?

[2020-04-01 10:25] devspectre opened #125 "How to specify table_areas or table_regions in landscape PDF?"
I am having issues with my PDF when extracting tabular data with stream mode on a landscape PDF.
I get ZeroDivisionError and not sure how I should specify the parameters.
![table_area_sample](https://user-images.githubusercontent.com/46239206/78126913-ec8faf80-741b-11ea-850b-58e2d4fe69fc.png)

What should it be in the above case? camelot.read_pdf(sample.pdf, flavor="stream", table_areas=['????'])

[2020-04-01 10:55] #125 closed

[2020-04-01 10:55] devspectre commented on #125
Duplicated issue

[2020-04-07 14:51] pushkarnimkar opened #128 "Installation with conda fails with python 3.8"
I'm using conda 4.8.3 on ubuntu 16.04. When installing camelot using
[code]
conda throws an error `UnsatisfiableError` as
[code]

Following is the `environment.yml` file.
[code]

Happy to help in solving this

[2020-04-09 17:43] chlun1 opened #129 "Segmentation fault in read_pdf when PyTorch is imported"
I have found that read_pdf results in a segmentation fault if PyTorch is imported. For example

`
import camelot
import torch

tables = camelot.read_pdf('foo.pdf', pages='1')
`

Camelot was installed using Anaconda and so was PyTorch.

camelot-py=0.7.3
pytorch=1.0.0

[2020-04-12 19:45] matthias-kabel opened #131 "skips columns if -T to long and therefore to much whitespace"
Hello,

many thanks for your work. Really impressive.

I would like to use camelot in the background for customers PDFs.
These PDF can have a very different number of lines. I found one example where a table defined to long (height) causes trouble and camelot skips columns even if the are defined via -C option

camelot  -f json -o 0000306310_001DD8B71DBC1EDA9F9825040E92A100 stream -T 16.839,557.97

[2020-04-12 19:56] matthias-kabel commented on #122
Did you try it with specifying -T and -C ? and with single pages as well?
Kind regards
Matthias

[2020-04-15 06:58] AnshitaM opened #132 "read multiple tables on the same page"
[multiple table.pdf](https://github.com/camelot-dev/camelot/files/4479539/multiple.table.pdf)
for this sample pdf, we should get two tables, but it returns only first table

[2020-04-15 07:53] aoiy commented on #124
https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines
Change the line_scale parameter.

[2020-04-18 16:09] hawisizu opened #133 "Tables on multiple pages"
Hey there! This is more a question than an issue, sorry!
I am using Camelot to extract data from PDFs, some are big. I have a lot of cases where a table is on more than one page. In some cases like this:
https://snipboard.io/dMEuF7.jpg
the table of the first page will have 14 columns as expected, the one on the second page will have only 13, the first one on the left disappears because there is no

[2020-04-19 09:34] gunnervino opened #135 "Output shows '...' instead of all columns"
The extracted table skips some columns in between (possibly because there are too many columns). How do i make it show all columns?

![image](https://user-images.githubusercontent.com/63834805/79684444-00cd0c80-8264-11ea-98af-1811c4143698.png)

Thanks!

[2020-04-22 09:49] aliasneo1 opened #136 "Camelot displays different output for same table in local server and Google Cloud"
I am reading a pdf file using below script in my local server and Google cloud with same '0.7.3   ca melot version.
But I am getting two different dataframes for a same page in local server and google cloud.

table_df=camelot.read_pdf('./'+input_folder_name+'/'+'P318102910070980.pdf' , flavor="stream",pages='all')

Whether it could be due to other dependency packages which has different versions?

[2020-04-22 13:15] KayleMaster opened #137 "Is it possible to extract hyperlinks from tables?"
Hi,

Some of my cells in the PDF have hyperlinked text, is it possible to extract the links as well? The output just shows plaintext (even in HTML).
If not, can you suggest any alternatives?

[2020-04-23 09:55] Nishad290 opened #138 "Table & Layout generations differs"
Hello,

Sorry for raising an issue to ask a question. But I am really not sure where and whom to ask this.

I am trying to extract a table from pdf ( unfortunately cannot attach the pdf due to privacy policy ).

So, my grid plot looks like this,
![mygraph-line](https://user-images.githubusercontent.com/16775665/80084794-f9b04200-8574-11ea-9d1e-aed3f87ba410.png)
This exactly looks like my pdf.

Now

[2020-04-26 22:32] afontana1 opened #139 "Passing Proxies to download url"
There should be an option to pass in proxies to read_pdf() if you are working in a private network and need to make external calls to the internet.

https://github.com/camelot-dev/camelot/blob/master/camelot/utils.py#L78

adding in an additional param: proxies

to download url should do the trick.

[2020-04-27 08:07] slhappyls opened #140 "I always met : Kernel dead, restarting on win10"

[2020-04-29 13:39] m1433 commented on #31
please explain more
i'm new to python

[2020-05-01 09:26] cefetra-valstar commented on #63
**Solution**: change 217 and 403.
**Reason**: You get that error because your y1 is smaller than y2.
**Hint**: in [x1,y1,x2,y2] the following must hold: x1<x2 and y1>y2.
**From the documentation**: _x1,y1,x2,y2 where (x1, y1) -> top-left and (x2, y2) -> bottom-right in PDF coordinate space. In PDF coordinate space, the bottom-left corner of the page is the origin, with coordinates (0, 0)._

[2020-05-04 11:26] gautierdag opened #141 "Usage of Column Separators Broken for Multiple Tables in Same Page"
Docs state that "In case you passed a single column separators string list, and no table area is specified, the separators will be applied to the whole page."

However line 336 in stream.py](https://github.com/camelot-dev/camelot/blob/7d4c9e53c67b4be005d7f060190d68b26512f361/camelot/parsers/stream.py#L336) includes a check for each table_idx which breaks if camelot has detected multiple tables in

[2020-05-08 01:23] devspectre commented on #124
Thank you, @aoiy !
It works. line_scale=50 made it to detect two-row tables.

[2020-05-08 01:23] #124 closed

[2020-05-10 07:31] rohitgavval opened #143 "Multiline text in a single cell is split into multiple cells"
While using either the stream or the lattice flavor, text spanning multiple-lines in a single cell is extracted into multiple cells. Please refer to page 2 in [this pdf](https://github.com/camelot-dev/camelot/files/4605289/Presentation1.pdf).

The cell showing text "Multi-line Header2" and "Multi-line V2" are extracted into multiple cells. I tried multiple values for the line_margin parameter from

[2020-05-19 09:57] ayushnarsaria opened #144 "Cannot find table in pdf"
Hello,

I am using the python camelot. The package is unable to find tables in any pdfs.
It always shows me <Tablelist n=0>, even though the pdfs have table embedded in them.

PFA the example pdf. I hope this problem can be resolved soon.

Thank you

Best,
Ayush
[jcc.26188.pdf](https://github.com/camelot-dev/camelot/files/4649636/jcc.26188.pdf)

[2020-05-21 10:30] naveenpundir99 commented on #37
nothing hapend still same

[2020-05-21 10:31] naveenpundir99 commented on #37
ImportError                               Traceback (most recent call last)
<ipython-input-1-679d8f55abf0> in <module>
----> 1 import camelot

~\AppData\Roaming\Python\Python37\site-packages\camelot\__init__.py in <module>
      4
      5 from .__version__ import __version__
----> 6 from .io import read_pdf
      7 from .plotting import PlotMethods
      8

~\AppData\Roaming\Python\Python37\site-p

[2020-05-21 21:08] piccolbo opened #145 "empty cells generated for check and cross marks"
camelot does an excellent job on all numeric cols and overall structure of a table I need to extract, but there are cols (boolean) that contain symbols (the check mark, an asymmetric v and a large X). Even an OCR program (tesseract) on very loose settings doesn't get anything out of those cells. It seems to me these symbols are in wide use in non-tech circles and I was wondering if anyone has run

[2020-05-24 09:59] vinayak-mehta opened #147 "Drop python 2.7 support and add python 3.8 support"

[2020-05-25 11:02] #147 closed

[2020-05-31 19:37] Peque opened #148 "A challenging PDF"
Take, for instance, the first table in this PDF: [SE_DS_Fronius_Symo_ES.pdf](https://github.com/camelot-dev/camelot/files/4708268/SE_DS_Fronius_Symo_ES.pdf)

I created the issue in case you want to add the PDF as a test benchmark. Feel free to close it if this is not the right way to suggest challenging PDFs for Camelot to improve.

[2020-06-02 23:04] fdebenedetti opened #149 "camelot module missing after import on macbook pro 10.13.6"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/apple/miniconda3/lib/python3.7/site-packages/camelot/__init__.py", line 6, in <module>
    from .io import read_pdf
  File "/Users/apple/miniconda3/lib/python3.7/site-packages/camelot/io.py", line 5, in <module>
    from .handlers import PDFHandler
  File "/Users/apple/miniconda3/lib/python3.7/site-packages/cam

[2020-06-02 23:22] fdebenedetti commented on #149
The one parameter I see that I am wondering about is the Darwin OS because I see in Anaconda.sh, it checks for configuration, and wont install if its equal to 'Darwin' configuration but the miniconda did not have that check.  Does it have same limitation?

[2020-06-02 23:23] fdebenedetti commented on #149
my need is to import text from pdf into MySQL.

[2020-06-11 09:12] abhilashabhardwaj commented on #144
Hi,
have you tried using stream flavor?

page_4 = camelot.read_pdf(jcc.26188.pdf, flavor='stream', pages='4')
page_4 gives two tables, the table you want to extract is the first table here.

array([['T A B L E 1', '', '', '', '', '', ''],
       ['',
        'Statistics and error analysis of TDDFT functionals compared to experimental λmax values for the lowest dipole-allowed vertical',
        '',

[2020-06-12 09:19] abhilashabhardwaj opened #150 "identify tables using table_area"
If I need to identify tables automatically while parsing a large PDF, how can I do that?

Identifying tables on the fly work for lattice cases, but stream format tables are not identified.
As a workaround, can I give table_area as an argument to

__camelot.read_pdf(file, pages='page_nums', table_areas=[x0,y0,x1,y1])__

Will it identify tables that are in the stream format.

Your help is appreciate

[2020-06-12 09:30] abhilashabhardwaj opened #151 "asking update about flavor='guess'"
Hello Vinayak,

Thanks for your work on Camelot. It runs exceptionally well on tables.
I want to be able to use 'guess' flavor that is marked as an enhancement in the issue#19
[]https://github.com/camelot-dev/camelot/issues/19[]

Do you have any update on that?
If I want to fix it, can you tell me what would be a good starting point in the code and otherwise?

[2020-06-12 15:25] arcruz0 opened #152 "Error in Ubuntu 20.04 (libgs.so: undefined symbol: FT_Set_MM_WeightVector)"
Hi, thanks for the great library. I recently updated to Ubuntu 20.04 (Pop!_OS 20.04, to be precise) and can't use `camelot` anymore. I receive the following error when running `camelot.read_pdf()`:

[code]
Here's my GhostScript version:

[code]

[code]

I found someone experiencing the [same issue on StackOverflow](https://stackoverflow.com/q/59337686), but that didn't get solved.

Please let me k

[2020-06-12 18:03] idea1002 commented on #133
Hi, Did you find the solution for the tables on multiple pages? I am also getting the same issue when reading such tables it treats as new table per page

[2020-06-13 01:43] FrancoisHuet commented on #151
I would defer to Vinayak for proper guidance, but if you're interested I've taken a crack at a "hybrid" parser that attempts to combine the lattice approach with a text alignment one (similar to stream).
I've just recently tried to merge [my branch](https://github.com/FrancoisHuet/camelot/tree/hybrid-parser) with Vinayak's latest changes, so it's very much work in progress, but it could be a start

[2020-06-15 09:51] hawisizu commented on #133
Hey,

I didn't find any solution within Camelot, no.
But I switched to first converting PDFs to XLSX using commercial products, then importing the data. It was simply much faster & easier.
Converter tested:
smallPDF (10€ /month): works well, also on locked PDFs, but generates an excel with one tab per pdf table, and potentially you have to harmonize manually the tabs. But likely if it is the reall

[2020-06-15 19:32] amansani commented on #151
Hello @vinayak-mehta , I am also looking for combination of stream and lattice flavor which is 'guess' falvor.

In my case, i have the table in a pdf file, which is working properly with lattice flavor, but when i use stream falvor, the first two columns data are merging into one cell.

In another case, i have a table in a pdf file, which is again giving all the results of a table using lattice fl

[2020-06-16 05:13] abhilashabhardwaj commented on #106
Hello @gwh204, I'm also trying to automate the table_area parameters. Did you achieve this in your work? Or did you have to use some workaround?
Thanks in anticipation.

[2020-06-17 06:18] HarshilPatel007 opened #154 "Ghostscript Error. Installed but gives error on windows 10."
Hi all,
I've installed GhostScript in my windows 10 system and added system variables as well.
but, when I use simple code to test camelot it'll give an error about Ghostscript not installed.

error =>  raise RuntimeError("Please make sure that Ghostscript is installed")

[code]
any solutions, please.

[2020-06-17 18:19] amansani commented on #29
I have the same problem when there is only header and no data under it or when the tables are not recognized. Can someone tell us how to fix this. Thanks.

[2020-06-26 17:08] rawsh-bt commented on #20
Does anyone have an update? I've tried inheriting PageHandler and making parsing multithreaded / multicore, and multi threading processing multiple pdfs, but I'm running into a ghostscript error (seems like it's not thread safe?)

[2020-06-26 18:53] caffeinatedMike opened #155 "[Feature Request] Ability to merge all tables into single table before outputing as a single file"
I have a pdf file that contains a single table across 67 pages. The headers are the same on each page, so same column count. It would be great if I could merge all these tables into a singular table, so when I export it doesn't give me 67 individual excel files that I need to manually merge (or use additional code to merge them).

[2020-06-28 17:58] palask opened #157 "ValueError / ZeroDivisionError / empty dataframes while using read_pdf()"
Hello,
I want to use Camelot to parse the tables on the second page of this pdf: [FEC-RO-DS-AM120iD-DE.pdf](https://github.com/camelot-dev/camelot/files/4842737/FEC-RO-DS-AM120iD-DE.pdf)

Even though similar pdfs work quite well, this one throws different exceptions, depending on which parameters I use with the read_pdf() function. Or if there are no additional parameters specified, except for the

[2020-06-28 18:08] palask commented on #135
@gunnervino At least for me, using `tables[0].to_csv('output.csv')` is the easiest way, because then you can view the whole table using a CSV viewer (like a plugin for your IDE, or just Excel).

Alternatively you could also export the table using the `to_excel` or `to_html` method.

If you are using PyCharm, it also has an integrated viewer for this purpose: [https://www.jetbrains.com/help/pycharm

[2020-06-28 18:17] palask commented on #128
Based on the error message and the date of this post, it looks like you were trying to install a version of Camelot which didn't support python 3.8 yet. But now there is version 0.8.0 available that supports it.

[2020-06-29 11:13] abhilashabhardwaj commented on #157
Hello Palask, how do you find the table areas?

[2020-06-29 14:05] palask commented on #157
@abhilashabhardwaj I simply used the plot function provided by camelot and pyplot on a similar, working pdf to see the coordinates.

[2020-06-30 08:12] khemon commented on #143
hello,

I have the same issue, is there any way to solve this with current version ?

[2020-07-04 08:04] vinayak-mehta opened #158 "Deprecate 'sudo: true' in travis config"
https://github.com/camelot-dev/camelot/pull/153#issuecomment-653705950 for reference.

[2020-07-04 08:05] vinayak-mehta opened #159 "Add warning suppression on test files from deepsource"
https://github.com/camelot-dev/camelot/pull/153#issuecomment-653705950 for reference.

[2020-07-04 13:24] jethar opened #160 "Using camelot in Google Cloud Functions"
The camelot package has a pre-requisite of **Tkinter and ghostscript**.

Is there a way to work around these pre-requisites for Google cloud funcions and/or AWS lambda, which do not allow explicit install of system packages.

A possible starting point could be - [Using Firebase Cloud Functions with Ghostscript for PDF to Image Conversion](https://tech.residebrokerage.com/using-firebase-cloud-funct

[2020-07-08 15:00] amansani commented on #29
As a temporary fix, I added try exception blocks to skip the table when something occurs like this.

[2020-07-09 22:46] vinayak-mehta commented on #128
@pushkarnimkar Can you try installing again? Please reopen if you still face an issue.

[2020-07-09 22:46] #128 closed

[2020-07-09 22:48] vinayak-mehta opened #161 "Possible speed up"
@majd1239 wrote in https://github.com/atlanhq/camelot/issues/427:

While using camelot to extract tables from pdfs. I noticed it's really slow. I profiled the code and turns out that %60 of the bottleneck is from np.isclose here and here as well as multiple other places in core.py:

camelot/camelot/core.py
[code]
camelot/camelot/core.py
[code]
The slowdown makes sense since there is a very big ove

[2020-07-09 22:53] vinayak-mehta opened #162 "Use distutils to find the ghostscript executable?"
Use `distutils.spawn.find_executable` instead of the current function as proposed by @ozak in https://github.com/atlanhq/camelot/pull/426.

Also, @fmassa wrote in https://github.com/atlanhq/camelot/issues/282#issuecomment-651889172:

[2020-07-10 07:43] bharj commented on #143
I would be interested in solution for this too.

[2020-07-10 20:07] FrancoisHuet commented on #161
See my comments in the original thread.  Once the `hybrid` and `network` parsers are merged in, this should no longer be an issue.

[2020-07-14 21:41] dvivasz commented on #152
I have the same problem. Please help!

[2020-07-16 14:35] ivoytov commented on #161
I made the same local changes in my setup

[2020-07-17 16:52] purpetrator opened #163 "Checkboxes?"
Is there any way to read data to see if a checkbox is checked or unchecked in a PDF?

[2020-07-17 16:59] jat255 opened #164 "Feature request: Progress bar implementation?"
Camelot is great! Thanks for such a useful project.

I'm parsing a pretty large pdf, and as such it takes a while to run [`self._save_page`](https://github.com/camelot-dev/camelot/blob/9137df2f6c6acb2fdaef9256ac42bf11f6afd99e/camelot/handlers.py#L165) and [`parser.extract_tables`](https://github.com/camelot-dev/camelot/blob/9137df2f6c6acb2fdaef9256ac42bf11f6afd99e/camelot/handlers.py#L171), so hav

[2020-07-17 22:49] vinayak-mehta commented on #163
Depending on the page layout, it might be possible to increase the [line_scale](https://camelot-py.readthedocs.io/en/latest/user/advanced.html#detect-short-lines) so that the checkbox gets captured as a table cell (with the check mark inside it). If the checkbox occurs at the same location on multiple pages, you could assume that the indices for the corresponding cell will be the same for all of t

[2020-07-17 22:49] #163 closed

[2020-07-17 22:50] vinayak-mehta commented on #164
A progress bar is a great idea! Let me see if I can work on a PR this weekend.

[2020-07-17 22:57] jat255 commented on #164
Great, I'll see if I can get to this relatively soon

[2020-07-17 22:58] vinayak-mehta commented on #164
I think the second progress bar isn't need, we can only show the progress on pages that have been processed.

Instead of adding a new requirement, we can use click's [progress bar utility](https://click.palletsprojects.com/en/5.x/utils/#showing-progress-bars).

[2020-07-17 23:01] jat255 commented on #164
I'm unfamiliar with click. Does that allow for progress bars when using as a library as well, or only when using the CLI?

[2020-07-17 23:13] vinayak-mehta commented on #164
Click is a library to create CLIs, it's used in `cli.py`.

I think it should allow for progress bars when using inside a library since it's just a click utility and does not involve other complex CLI dispatching logic if I'm not wrong. I guess it's just a matter of which progress bar looks better, we should be able to go with tqdm too. Let me check out both.

[2020-07-18 12:12] BobsonTheFirst opened #165 "Read Base64 pdf from end-point"
Is it possible to read a base64 string instead of a file path? I am making a get request to some API and receives a PDF as a Base64 string. If no, any solution for this? I am learning Python especially for this library (coming from a JavaScript background).

[2020-07-20 08:06] ellalesser opened #167 "Read_pdf returns forbidden in 0.7.3 and ""
I'm trying to use Camelot's read_pdf on a URL (This URL is dynamic and is fetched via a spider).

Right now - this is the public URL that get's passed to Camelot: **_https://www.cisecurity.org/wp-content/uploads/2020/06/EOS-Report-June.pdf_**

In Camelot's 0.7.3 - This sometimes succeeds, but more often then not I get a "forbidden" error response from read_pdf.
In Camelot's 0.8.0 - I constintly ge

[2020-07-20 08:11] #167 closed

[2020-07-20 08:12] ellalesser commented on #167
Submitted by accident

[2020-07-20 08:22] ellalesser opened #168 "Errors when using read_pdf on URL (Forbidden in 0.7.3 and Unauthorized in 0.8.0)"
### Issue
I'm trying to use Camelot's read_pdf on a URL (This URL is dynamic and is fetched via a spider).

Right now - this is the public URL that get's passed to Camelot: https://www.cisecurity.org/wp-content/uploads/2020/06/EOS-Report-June.pdf

In Camelot's 0.7.3 - This **sometimes succeeds**, but more often than not I get a "forbidden" error response from read_pdf.
In Camelot's 0.8.0 - I saw t

[2020-07-20 10:20] vinayak-mehta commented on #168
Thanks for the detailed report, I'll look into it. Meanwhile, a quick fix would be to download the pdf into the `/tmp` folder using requests and passing in the filepath to camelot.

[2020-07-20 10:21] vinayak-mehta commented on #165
You could save the pdf into a temporary filepath and pass that filepath to camelot instead.

[2020-07-20 10:21] #165 closed

[2020-07-20 22:02] Oleh-Hrebchuk opened #169 "ImportError: cannot import name 'PDFTextExtractionNotAllowed' from 'pdfminer.pdfpage'."
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packages/camelot/__init__.py", line 6, in <module>
    from .io import read_pdf
  File "/usr/local/lib/python3.7/site-packages/camelot/io.py", line 5, in <module>
    from .handlers import PDFHandler
  File "/usr/local/lib/python3.7/site-packages/camelot/handlers.py", line 9, in <module>

[2020-07-20 22:02] Oleh-Hrebchuk commented on #169
pip install pdfminer.six==20200517 if install older version all works fine

[2020-07-21 15:34] vinayak-mehta commented on #169
I'll fix it right now and create a release.

[2020-07-21 15:36] vinayak-mehta commented on #169
@xamey I saw your PR. I'll fix it here.

[2020-07-21 15:45] Oleh-Hrebchuk opened #170 "Camelot functionality has read_pdf from file but no option read from bytes"

[2020-07-21 15:53] vinayak-mehta opened #172 "Handle usage of pdfminer's internal API nicely"
So that breaking changes like #169 don't happen again.

[2020-07-21 16:00] #169 closed

[2020-07-23 20:28] CyrusDsouza opened #173 "ResourceWarning: unclosed file [utils.py:131"
Hi,

While extracting tables from pdfs we noticed that we get an unclosed file error from the 131st line

from the dev code, we can see that line 73 and 123 in handlers.py has an open() which may not be closed

this is just what I am speculating. But any ideas on how the resource warning can be eliminated as I feel this is also causing a memory leak

[2020-07-23 21:41] vinayak-mehta commented on #173
Hi @CyrusDsouza, thanks for opening the issue. I'll look into it as soon as possible.

[2020-07-25 15:07] palask opened #174 "PermissionError at __exit__ in utils.py"
Hello,
I found another bug, this time using this pdf: [CR-14iA-Flyer-DE.pdf](https://github.com/camelot-dev/camelot/files/4975731/CR-14iA-Flyer-DE.pdf)

A PermissionError stops the execution. However it only occurs if I call utils.get_page_layout() before read_pdf() is called. Additionally the error doesn't occur when I run the code using the debugger of PyCharm. It just appears on normal executio

[2020-07-25 15:12] palask commented on #157
Just as a quick note: I ran this code again yesterday (with updated packages), and the problems are gone. Maybe an update fixed it already?
Please feel free to close the issue, if there isn't anything left to check.

[2020-07-25 15:16] palask commented on #174
It looks like this could be the problem? --> #173

[2020-07-27 02:49] carsonyl commented on #169
@vinayak-mehta pdfminer.six released version 20200726 today, which reverts PDFTextExtractionNotAllowedError back to PDFTextExtractionNotAllowed. I had to install pdfminer.six 20200720 to get it working again with camelot 0.8.1.

[2020-07-27 12:01] #157 closed

[2020-07-27 12:11] vinayak-mehta commented on #169
Yes, I pointed out the breaking change on their gitter channel and a contributor reverted the change :sweat_smile: https://github.com/pdfminer/pdfminer.six/pull/461

I'm releasing camelot `0.8.2` with the revert.

[2020-07-27 12:14] vinayak-mehta commented on #169
Maybe I should also yank `0.8.1` on PyPI.

[2020-07-28 20:21] everetr commented on #149
I'm also getting a "No module 'cv2'" error, but with `camelot-python` 0.8.2 on Ubuntu 18.04. This fixed it for me:

[code]

Most people probably use `pip`, so `pip install opencv-python` might do it.

For some reason, `opencv-python` is in `camelot`'s `requirements.txt` but isn't installed by `poetry`/`pip`.

[2020-07-30 09:35] MartinThoma opened #176 "ImportError: cannot import name 'PDFTextExtractionNotAllowedError' from 'pdfminer.pdfpage'"
[code]

Versions:

* camelot-py==0.8.1
* pdfminer==20191125
* pdfminer.six==20181108

I've uninstalled pdfminer now, but I get the same issue.

I've updated to `pdfminer.six==20200726 `, but still get the same issue.

[2020-07-30 09:46] vinayak-mehta commented on #176
`camelot-py==0.8.2` should fix this. Can you please upgrade using `pip install --upgrade camelot-py`?

[2020-07-30 09:46] #176 closed

[2020-07-30 10:06] MartinThoma commented on #176
Cool, now I don't get that mistake anymore. Thank you!

[2020-07-30 10:09] MartinThoma opened #177 "Why doesn't camelot find my table?"
I'm using `camelot-py==0.8.2 ` and [this example PDF](https://github.com/MartinThoma/algorithms/blob/master/PDF/PDF-export-example.pdf) and this code:

[code]

It prints:

[code]

But there clearly is a table. The document was created with Microsoft Word.

What is the issue? Can I make it find that table?

[2020-07-30 10:26] vinayak-mehta commented on #177
Camelot uses the lattice flavor by default, but that isn't a lattice table. More on lattice and stream: https://camelot-py.readthedocs.io/en/master/user/how-it-works.html

You can get that table by choosing the stream flavor and selecting a table area: https://camelot-py.readthedocs.io/en/master/user/advanced.html

[2020-07-30 10:26] #177 closed

[2020-07-30 14:58] tam663 opened #178 "ImportError: cannot import name 'TableList'"
Command: `import camelot`

Full error message:
[code]

[2020-08-10 12:17] aflip opened #179 "`max() arg is an empty sequence` error on PDFs with blank pages, is there a skip empty page option?"
1. Camelot is great! Thank you
2. I'm using Camelot to extract IDSP data. I am a physician, trying to see if an epidemic calendar can be made using this data.
3.  When there are files which have empty pages after the tables, instead of skipping the page or moving on to the next page, camelot aborts that run and throws up `ValueError: max() arg is an empty sequence`

The PDF that triggers this  is

[2020-08-10 17:00] name-andy46 commented on #169
Just installed this on conda, got the same error "cannot import PDFTextExtractionNotAllowed". I imported pdfminer.six and checked, it has PDFTextExtractionNotAllowedError. Realized that conda ditribution is till on 0.8.0.
So uninstalled from conda and installed with pip "camelot-py[cv]". This imports without error.

[2020-08-10 17:50] nutsci opened #180 "How to get dimensions of pages with the tables?"
Hello- is it possible to get the dimensions of the page that each table is on? I need to scale the extracted table areas to a rendered pdf of a different size. I can't find this in the documentation and hope I didn't miss it somewhere. Thanks!

[2020-08-11 04:07] baridhi commented on #29
I also faced this issue. I think I'm also going to work with a temporary fix using try-except block.

[2020-08-11 15:43] aroc725 opened #181 "Answers for checkbox questions not being detected"
Using: Windows 10, camelot version 0.8.2, Ghostscript version 9.52.

I saved a PDF file containing multiple tables, after having checked an answer for a couple of 'checkbox questions' in one of the tables. However, the answers aren't getting saved to the generated CVS/Excel files.

Is there a way to resolve this, or is saving answers to checkbox questions not something the current version of camel

[2020-08-13 10:59] aflip commented on #169
This is what worked for me also.

[2020-08-13 20:25] vinayak-mehta commented on #169
Please install the latest `v0.8.2` with `pip install --upgrade camelot-py`. This version for conda will be released soon. Right now, there's a blocker to do that: https://github.com/conda-forge/camelot-py-feedstock/pull/20

[2020-08-13 21:06] #120 closed

[2020-08-14 03:46] belisards commented on #14
Hi, is there any update about the OCR support?

[2020-08-14 08:55] peeyushpashine opened #182 "What OCR is used by camelot and does it always use OCR if pdf has text layer in it?"

[2020-08-14 11:23] aflip commented on #182
Camelot does not use any OCR. It extracts text only.

[2020-08-14 11:25] vinayak-mehta commented on #182
Camelot only works with text-based PDFs and not scanned documents. (As Tabula explains, "If you can click and drag to select text in your table in a PDF viewer, then your PDF is text-based".)

[2020-08-14 11:25] #182 closed

[2020-08-14 11:25] aflip commented on #181
Could you upload the PDF or an example of what you're trying to do?

[2020-08-14 11:26] vinayak-mehta commented on #182
The how it works section in the docs might be helpful for your question: https://camelot-py.readthedocs.io/en/master/user/how-it-works.html

[2020-08-14 11:26] vinayak-mehta commented on #14
I hope to do an experiment soon with https://github.com/JaidedAI/EasyOCR.

[2020-08-14 12:01] aflip commented on #169
This works. confirmed.  Had to also update pdfminer via pip.

[2020-08-14 12:02] aflip commented on #169
This worked.

 Had to also run

'ip install --upgrade pdfminer`

[2020-08-14 12:08] aflip commented on #143
Hello

Using stream, and fiddling around with the row_tol amount, I was able to extract this fine

`table_trial = cm.read_pdf('Presentation1.pdf' , pages ='2', flavor = 'stream', row_tol=35)`

Gave me

![image](https://user-images.githubusercontent.com/59506464/90247673-b5fb8400-de54-11ea-9a6f-77760b53c0f9.png)

There's more info on teasing apart rows, and more in the docs here: https://camelot-py

[2020-08-14 17:54] stpete111 opened #183 "UnicodeEncodeError when using Stream flavor"
Python 3.7 on Windows

Using this pdf:  http://tsbde.texas.gov/78i8ljhbj/Fiscal-Year-2014-Disciplinary-Actions.pdf

I am running it through Camelot to convert to html using Stream flavor and I get the following error at execution of the `export` line, once it reaches page 4 of 8:

"UnicodeEncodeError -'charmap' codec can't encode character '\u2010' in position y: character maps to undefined."

Pag

[2020-08-14 18:15] aroc725 commented on #181
Sure, here's a link to the file:

https://www.dropbox.com/s/9typ30kn47vo0jh/COVID19%20Case%20Report%20Form%204.23.20.pdf?dl=0

[2020-08-14 20:54] stpete111 commented on #183
At this point I'm willing to put try/except code around the tables.export (but would need guidance on how to do that).  You should see how many Stack Overflow tabs I have open in my browser right now, trying every solution I can find, and still getting the same error no matter what.

[2020-08-15 20:56] vinayak-mehta commented on #181
This is a form a not a table. You can try [using this setting](https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines) so that checkboxes are detected.

[2020-08-15 20:56] #181 closed

[2020-08-15 20:58] vinayak-mehta commented on #143
The table in your pdf looks similar to the table from [this part](https://camelot-py.readthedocs.io/en/master/user/advanced.html#process-background-lines) of the docs. You can try processing background lines as mentioned there and see if that works.

[2020-08-15 20:58] #143 closed

[2020-08-15 21:24] aroc725 commented on #181
Setting the 'line_scale' setting to 46 does display all the possible answers for two of the checkbox questions I looked at, but all the checkboxes are blank/empty. So I don't know which checkboxes were actually checked for those questions.

[2020-08-16 17:10] Gusser93 opened #184 "SegFault in read_pdf"
Getting a segmentation fault when using read_pdf. I'm not importing pytorch.

#### Code

[code]
#### Error (using `faulthandler`)

[code]

Failing pdf: [agstat.pdf](https://github.com/atlanhq/camelot/blob/master/docs/benchmark/lattice/agstat/agstat.pdf)

OS: Arch Linux-5.8.1
Python 3.8.5
Camelot 0.8.2
NumPy 1.19.1
OpenCV 4.4.0
Ghostscript: 9.52

[2020-08-17 09:02] nrygh opened #185 "Problem with column separators"
I have a complex document, where sometimes a column has no or less separation with spaces.
Extraction with stream ist not consistent.
Now i have tried to use the column separator and have specified the values, where to create a new column.
It works in generell, but sometimes it does not work and results are not consistent.
Could you please help?

[2020-08-17 14:37] anakin87 commented on #183
I found this solution (it is a monkey patch): https://stackoverflow.com/questions/63403629/python-camelot-pdf-unicodeencodeerror-when-using-stream-flavor-on-windows/

[2020-08-17 15:05] stpete111 commented on #183
Thanks @anakin87 this works great.

[2020-08-18 20:43] thedatadavis commented on #178
How'd you install originally?

[2020-08-25 13:03] vinayak-mehta commented on #185
You can try changing the stream tolerances, please check the [advanced guide](https://camelot-py.readthedocs.io/en/master/user/advanced.html#improve-guessed-table-areas) to learn more.

[2020-08-25 13:03] #185 closed

[2020-08-25 13:04] vinayak-mehta commented on #184
Can you try with a lower ghostscript version? Around ~9.26.

[2020-08-25 13:10] vinayak-mehta commented on #180
The library does not expose a pdf page layout directly, but you can use [this utils function / pdfminer snippet](https://github.com/camelot-dev/camelot/blob/master/camelot/utils.py#L796) to do that separately.

[2020-08-25 13:10] #180 closed

[2020-08-25 13:12] vinayak-mehta commented on #178
I've seen this happen when users install `camelot` instead of `camelot-py`. Can you reinstall in a new environment by following the install instructions from the docs? Please reopen this issue if you still face the same problem.

[2020-08-25 13:12] #178 closed

[2020-08-25 13:13] vinayak-mehta commented on #183
@anakin87 Would you like to open a PR to fix this in the library itself? :)

[2020-08-25 13:31] anakin87 commented on #183
https://github.com/camelot-dev/camelot/pull/188

[2020-08-25 13:43] vinayak-mehta commented on #183
@anakin87 It looks good! I'm waiting for the the tests to pass so that I can merge it, even though there isn't a test for the `to_html` method right now. (You can add it to the same PR if you want to work on it)

Also, I've noticed that you use a lot of different camelot features, based on your issue tracker replies and SO answers. I would love to chat about how you use camelot if you have some ti

[2020-08-25 13:46] #183 closed

[2020-08-25 17:33] #179 closed

[2020-08-25 17:34] vinayak-mehta commented on #179
@aflip Thanks for the detailed issue report! This should be fixed in the next release. :green_heart: :blue_heart: :purple_heart: :yellow_heart: :heart:

[2020-08-25 23:30] Gusser93 commented on #184
I built ghostscript 9.26 with the default config and debug. Still getting a SegFault. Using gs (9.52) directly on the temporary files is working fine using `gs -q -sDEVICE=png16m -o /tmp/tmpvkumtsh8/page-1.png -r300 /tmp/tmpvkumtsh8/page-1.pdf`. Same goes for the following script:

[code]
But when using `from camelot.ext.ghostscript import Ghostscript` (gs 9.52 and 9.26-debug) I'm getting a SegFau

[2020-08-26 05:38] arvindjj-git opened #190 "list index out of range"
class conversion:
    tables = camelot.read_pdf('test_input.pdf')
    hold = tables
    print(hold)
    show = camelot.plot(tables[0],kind='text').show

if __name__ =='__main__':
    t = conversion()

output:
  if gives TableList n=0.

have included my source here.
[test_input.pdf](https://github.com/camelot-dev/camelot/files/5127787/test_input.pdf)

[2020-08-29 10:34] Asrst opened #191 "Possible Performance Improvement (for Lattice)"
To extract tables using `Lattice` flavour, currently ghostscript is being used for generate image (`_generate_image` method).
This can be done also using `PyMuPDF` , a python wrapper for MuPDF (same license as Ghostscript).

- It helps to remove ext-dependency & make camelot much easy to install. (From my experience it is easy to install PyMuPDF)
- MuPDF also faster than Ghostscript. (around 30-50

[2020-09-02 00:46] phoewass commented on #20
I did implement a multi-threading layer above camelot.read_pdf using **multiprocessing** library.
I faced a couple of pitfalls doing it, so I can help on this if I may.

[2020-09-03 15:00] vinayak-mehta commented on #8
This issue is low priority as there's no _general_ way to merge tables spanning multiple pages across millions of different types of table structures.

[2020-09-09 08:42] Colanim opened #192 "Stream mode : rows argument, similar to columns"
In `stream` mode, there is an argument `columns` to specify the x-position of columns separators.

**Is there a `rows` argument where we can specify the y-position of rows separators ?**

---

My problem is that `lattice` mode is not working for borderless tables. So instead I want to use `stream` mode and specify position of tables separators.

But I can specify only column separators position. *

[2020-09-09 09:03] vinayak-mehta commented on #192
Right now there isn't a way to specify y separators, but it might be a good enhancement to add.

[2020-09-10 18:01] jimhall opened #193 "Doc enhancement: Note dependency on libgs.so (libgs.dylib on Mac) for ghostscript"
The Camelot documentation highlights a dependency on Ghostscript and
adds a [check](https://camelot-py.readthedocs.io/en/master/user/install-deps.html#for-ghostscript)
that confirms that the Ghostscript binary is installed. The key dependency for
Camelot to run successfully is on a working copy of the libgs library
(libgs.dylib for MacOS).

Specific ask: Would ask that a note be added to the docum

[2020-09-10 23:51] vinayak-mehta commented on #193
Ghostscript has been a pain, I'm actively trying to look into possible ways it can be removed. Thanks for reporting this issue with so much detail!

Would you like to startt a PR to add the relevant notes you mention? This file needs to be modified: https://github.com/camelot-dev/camelot/blob/master/docs/user/install-deps.rst

[2020-09-10 23:56] vinayak-mehta commented on #152
I'm not able to reproduce this issue right now as I don't have a box with Ubuntu 20.04. Let me try and see if it can be reproduced inside a docker container somehow. Can you try downgrading your ghostscript version (9.26 has been known to work) somehow? (I know that might be difficult on Ubuntu) Ghostscript has been a pain, I'm actively trying to look into possible ways to remove it.

[2020-09-11 21:14] jimhall commented on #193
Sure - little weak on my PR-fu, so let me take a peak.

[2020-09-11 21:17] vinayak-mehta commented on #193
Thanks! The [contributing docs](https://camelot-py.readthedocs.io/en/master/dev/contributing.html#pull-requests) should be able to help :)

[2020-09-14 20:37] luke4u commented on #49
Hi @vinayak-mehta , have you heard about pdf2image? It is much less pain than Ghostscript. I don't recommend mupdf, as it is licensed under AGPL. Not good for commercial usage.

[2020-09-14 23:20] vinayak-mehta commented on #49
@luke4u Yes I've heard about it. I was initally reluctant to replace ghostscript with pdf2image as users on all platforms would have to install it separately too. Doing this replacement would be difficult as it would break installations for old users when they suddenly need poppler-utils instead of ghostscript after they upgrade their camelot version. I guess it could be done in a backwards-compat

[2020-09-16 09:36] luke4u commented on #49
thank you @vinayak-mehta . look forward to your progress!

[2020-09-21 02:24] Suyash458 commented on #14
You could check out [OCRmyPDF](https://github.com/jbarlow83/OCRmyPDF). Apart from performing OCR, it can deskew/dewarp images (using [leptonica](http://www.leptonica.org/)). I've used it myself and the results are pretty good but, idk how it performs against EasyOCR. OCRmyPDF does have a dependency on Ghostscript though

[2020-09-21 08:37] vinayak-mehta commented on #14
I was able to get nice results on some images with EasyOCR: https://vinayak.io/2020/09/20/day-29-easyocr-dabblements/ I might try working on a PR to integrate it with the code I mention in the first comment on this issue.

[2020-09-24 17:06] pacedavis opened #194 "Camelot does not find column lines when parsing table"
Please look at the attached file.  The 3rd table does find the correct number of columns when parsing the header of the table but all of the data seems to not be split up into columns.  Some of the text would not b/c it overlaps the column lines but the "line items" of the purchase order should be split up.  I have tried lattice and stream
[PO3.pdf](https://github.com/camelot-dev/camelot/files/527

[2020-09-28 06:30] Semnodime opened #195 "Dark tables not detected."
**Describe the bug**
- Not all tables are detected.
- While three bright tables have been detected, two similar but dark tables haven't.

**Steps to reproduce the bug**
1. Install via `pipenv install excalibur-py`
2. Run `camelot lattice -plot contour 19_extracted_A7325-AMICCOM.pdf`

**Expected behavior**
- Detection of all five tables.

**PDF**
- [19_extracted_A7325-AMICCOM.pdf](https://github.co

[2020-09-30 19:51] Gusser93 commented on #184
I'm sorry it took me so long to test this, but after reinstalling `intel-mkl` I can no longer reproduce the error, so I will close the issue.

[2020-10-01 20:16] vinayak-mehta commented on #195
Can you try with this setting: https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines?

[2020-10-01 20:21] vinayak-mehta commented on #194
Hey! I will try to extract tables from this PDF when I get time from other issues. Meanwhile, can you try one of the advance settings with stream (this doesn't look like a lattice table)? https://camelot-py.readthedocs.io/en/master/user/advanced.html

[2020-10-01 20:25] vinayak-mehta commented on #191
@Asrst Sorry for the late reply. I can work on this with you if you're interested.

Yes that's the only reason ghostscript is being currently used. I've also been looking at PyMuPDF since they have pre-built wheels for all platforms. I'm planning to add support for it as a pdf-to-png conversion backend and set it as default.

[2020-10-01 20:26] vinayak-mehta commented on #190
You need to use the stream flavor to parse this PDF.

[2020-10-01 20:26] #190 closed

[2020-10-02 15:11] pacedavis commented on #194
Thank you for the response.  If I use the stream method, it picks up the data but all of it is one long string, not broken up into columns.

[2020-10-05 21:51] yeus commented on #103
in this other repository  (https://github.com/atlanhq/camelot) (I assume the original one?) there are already two merge requests pending and aiting to get accepted for this issue:

- https://github.com/atlanhq/camelot/pull/376
- https://github.com/atlanhq/camelot/pull/331

Maybe we can do this quickly with that ;). I think this is really a feature that a lot of poeple would like to have ...

[2020-10-05 22:23] vinayak-mehta commented on #103
Thanks for pointing that out! Right now #13 is taking up a lot of my time, but I will try to get to this over the weekend.

[2020-10-05 22:26] yeus commented on #103
For poeple where the main problem is, that you want to keep the file "in-memory" for example as a spooled temporary file, a short workaround could be the following:

use this library here: https://github.com/mbello/memory-tempfile to create a file on a a tmpfs in our memory. This soluion only works for linux though ... Additionally, its difficult to do this in docker images or on kubernetes.

[2020-10-05 22:28] yeus commented on #103
@vinayak-mehta just saw your comment. Looking forward to this! If you need any help (testing, review...) just contact me ;) although I am not that deep into the library ...

[2020-10-05 22:32] vinayak-mehta commented on #103
Thanks for the suggestion, and for offering your help! I will try to get to the PRs by the weekend and will definitely comment here if I need help :)

[2020-10-08 16:26] Asrst commented on #191
Hi,

In process of working on the above change (adding support for pymupdf). I cloned the repo & ran the tests (using pytests) without making any changes.

1 test failed in the first run with following Error. but when I reran all of them were passed (without any changes).

`PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\Sa

[2020-10-08 19:43] pilotjoe commented on #103
I mentioned another use case for this in https://github.com/atlanhq/camelot/pull/189, where reading from file-like object would come in handy when more advanced authentication is required for websites (e.g. SharePoint), requiring pulling the object using a library like requests.

[2020-10-09 21:16] pilotjoe commented on #164
@jat255 I found your patch very helpful for large PDFs and look forward to this being formally added to Camelot.

[2020-10-12 15:52] vinayak-mehta commented on #20
@phoewass That would be awesome if you're still interested!

[2020-10-12 15:53] vinayak-mehta commented on #149
The default installation instructions for `pip` should work, like @everetr mentioned.

[2020-10-12 15:53] #149 closed

[2020-10-12 15:57] vinayak-mehta commented on #164
I think we can also go with `tqdm` instead of `click.progressbar` as it has a nicer UX. @jat255 @pilotjoe If you (or someone reading this) want to work on a PR, I'd be happy to review it. Otherwise, I'll try to add this myself some time.

[2020-10-12 16:02] vinayak-mehta commented on #191
I haven't faced this error on Linux, I'll try to run the tests on Windows (either on CI or on another laptop).

Yes that's possible, I'll try to look at the code and guess where this might be happening. If you fix this while working on your pymudpf PR, please raise another PR with the fix :)

[2020-10-12 16:04] vinayak-mehta commented on #194
Yes this looks like a difficult table for stream to parse. You might have to specify a table area or column x coordinates. Those parameters should help you get the data out.

[2020-10-12 16:04] #194 closed

[2020-10-12 16:42] vinayak-mehta commented on #193
Btw I didn't get any error while trying to reproduce this just now. These are the commands I ran:

- `conda create --name gs-3.8 python=3.8`
- `conda install -c conda-forge ghostscript`
- `which gs`: `/home/vinayak/anaconda3/envs/gs-3.8/bin/gs`
- `pip install camelot-py[cv]`

I removed my system ghostscript (which removed a lot of other stuff) before running the above commands. I hope I didn't bre

[2020-10-12 16:55] vinayak-mehta commented on #103
@pilotjoe Thank you for your comment describing the use-case.

Last week, I ended up spending a lot of time on #13. Will get to this soon.

[2020-10-12 21:14] jimhall commented on #193
Yes I believe based on my experiments that a conda-forge installed Ghostscript will not work with Camelot.

The existing Camelot instructions state you can do a "conda install + homebrew Ghostscript" and Camelot will work. I agree with that combo - it works for me.

"conda install + conda forge gs" will fail.

Looking at the [Anaconda website here](https://anaconda.org/conda-forge/ghostscript), I

[2020-10-13 18:09] leventebo opened #197 "Multiple line-breaks removed"
I have multiline texts in cells of the table. Whenever there is an empty line in the middle of the text, I would expect to get multiple line-breaks, but only getting a single `\n`:
[code]
I would expect `First line\n\nSecond line` but I'm getting `First line\nSecond line` with only one `\n` instead.
Can this somehow be configured?

The actual output is `S\nFirst line\necond line`, so the first let

[2020-10-16 12:04] vinayak-mehta commented on #193
Sorry I should've spent more time reproducing this! You're correct, installing `ghostscript` from `conda-forge` doesn't install `libgs`! I was working under the assumption without something to back me up :( This [test in the camelot conda-forge recipe](https://github.com/conda-forge/camelot-py-feedstock/blob/master/recipe/meta.yaml#L37), to just check if `camelot` is importable is not enough. `cam

[2020-10-16 12:10] vinayak-mehta commented on #193
@jimhall Thank you for reporting this! I'm also [trying to replace ghostscript](https://github.com/camelot-dev/camelot/pull/198) as the default image conversion backend, but till that happens, I'll include the useful info to avoid this bug in the docs by merging your PR with some minor tweaks (I'll do that today!).

Would you be interested in testing if [`pdftopng`](https://github.com/vinayak-meht

[2020-10-17 21:45] vinayak-mehta commented on #193
@jimhall Thank you for reporting this issue and the PR! Please reply to the questions above when you get time :)

[2020-10-17 21:45] #193 closed

[2020-10-18 18:14] jimhall commented on #193
Hi @vinayak-mehta

Sure - this seems to be the key.

This is a good find/conclusion: I did not consider static binaries. Pretty clear choice on the part of Anaconda!

Ah - I was thinking my submission was too complicated after I sorted out the ctypes suggestion and was due for a re-write. But you took care of that with your modification of my PR. :grin:.

Sure I could test for Mac and Solaris.

I

[2020-10-19 15:38] wbadry opened #199 "all cells are read as cid:xx"
**Describe the bug**
When reading a table, all cells show **cid: xx** instead of the original text.

**Steps to reproduce the bug**
Steps used to install `Camelot`:
1. Followed [dependencies](https://camelot-py.readthedocs.io/en/master/user/install-deps.html)  and [pip](https://camelot-py.readthedocs.io/en/master/user/install.html) installation.

Steps to reproduce the behavior:

[code]
**Expected

[2020-10-20 07:26] Colanim opened #200 "IndexError: list index out of range when specifying the area of table"
## File

[202.pdf](https://github.com/camelot-dev/camelot/files/5406925/202.pdf)

## Description

When specifying `table_areas`, I'm having the following error :

  File "<string>", line 1, in <module>
  File "/home/remondn/.venv/prospector/lib/python3.6/site-packages/camelot/io.py", line 117, in read_pdf
    **kwargs
  File "/home/remondn/.venv/prospector/lib/python3.6/site-packages/camelot/handl

[2020-10-20 10:39] anakin87 commented on #199
It is a known PDF problem.

In simple words, your PDF file doesn't contain characters mappings: it is possible to display the content but not to extract the text.

Please read [this](https://stackoverflow.com/questions/50773909/what-to-do-with-cids-in-text-extracted-by-pdfminer).

I don't think this is a bug of Camelot.

If you want to extract the text, you can use some OCR software, but you can't

[2020-10-21 06:12] playgithub opened #201 "What's the most efficienct way to find a table in a pdf?"
If a table has 10 keywords in a table, the table is the one to find.

methods:

* `read_pdf` with all pages, then find
Easy to code, but it might do many unnecessary parses, waste resource and time.
* `read_pdf` with one page each time, then find in the page just parsed
It's an expected method, but will it efficient to call `read_pdf` many times?
* or any better method?

[2020-10-21 16:31] playgithub commented on #201
I've tested, `read_pdf(pdf_path, pages='all')` is much much slower than parse a random page.
But parsing pages one by one and each page with a `read_pdf` obviously incurrs redundency.
For instance, there are 300 pages, which method is better seems to depends on where the table to be found is. Say the table to be found is on page 30, the 2nd method is more efficient, if on page 290, the 1st is more

[2020-10-21 16:52] playgithub commented on #201
I've tested.
For a pdf with 346 page, parse a random page it take 1.82 (by `time.perf_counter`), parse all pages takes 458.90 (on average 1.33 per page).

[2020-10-21 16:52] #201 closed

[2020-10-22 19:54] vinayak-mehta commented on #193
:+1:

Thank you!

Thank you! I was able to [build Windows wheels](https://github.com/vinayak-mehta/pdftopng/actions/runs/318517360), these are the two approaches I tried:
- [the package_day way](https://vinayak.io/2020/10/21/day-51-bundling-dlls-with-windows-wheels-the-package-data-way/)
- [the DLL mangling way](https://vinayak.io/2020/10/22/day-52-bundling-dlls-with-windows-wheels-the-dll-manglin

[2020-10-23 14:02] sh-ankar commented on #50
If I give the "columns=" parameter, I get the exact same error as above.
If I remove "columns=" , I get no errors, but the output has repeated duplicate subset(s) as part of the TableList. Here is what I mean:

[code]
Note here that that complete page is correctly extracted into **table[2]**. table[0] and table[1] are a subset - hence I am getting duplicate data.

Interestingly in another page in

[2020-10-25 00:08] vinayak-mehta commented on #199
Thanks for pointing that out @anakin87! Also adding a `faq` label to this for a new FAQ page, I'll start working on that after next week. @anakin87 in case you want to start a PR with the FAQs that you've seen, I would love to add to that too!

[2020-10-25 00:08] #199 closed

[2020-10-25 00:23] vinayak-mehta commented on #200
That makes sense, I'll check out why it's raising an error in this case, I think it's because of this diagrams.

There can be other cases where you might get a `<TableList n=0>` when no tables are found.

Can tables and diagrams both occur on the same page?

[2020-10-25 00:32] vinayak-mehta commented on #197
Can this somehow be configured?

No, text is placed on a PDF page using x,y coordinates, there is no information about newlines, and the library also doesn't account for large y differences between lines to emulate and add newline characters.

Do you get `S\nFirst line\necond line` with a different setting? As it is different from `First line\nSecond line` mentioned in the line before that. It's d

[2020-10-25 00:32] #197 closed

[2020-10-25 23:25] Colanim commented on #200
Thanks for the answer @vinayak-mehta

Yes unfortunately T.T

[2020-10-26 05:48] liugj101 opened #204 "hey， how to get the coordinates joints in the table"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the bug**
Steps used to install `camelot`:
1. Add step here (you can add more steps too)

Steps to reproduce the behavior:
1. Add step here (you can add more steps too)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Code**
Add the Camelot code snippet that you u

[2020-10-26 08:19] anakin87 commented on #204
I don't understand the issue.

If you want table coordinates, you can use `table._bbox`

[2020-10-26 08:31] liugj101 commented on #204
I want to get the coordinates of the four joints in each cell of the table. As far as I know, they can be applied in table_areas=[x1,y1,x2,y2]

[2020-10-26 21:10] rotsee opened #205 "Feature request: Expose PDFMiner text objects"
It would be useful if it was possible, when using the high level API, to access original PDF Miner text and/or char object(s). This would allow us to e.g. analyze text color and other things. I.e. something like this:

[code]

[2020-10-27 13:57] anakin87 commented on #204
Did you try my suggestion?

[2020-10-28 08:56] edugonza commented on #15
Hi guys, I sent a PR with a working solution to the issue. I added a unittest with the PDF file mentioned in the first comment.

[2020-10-28 09:14] #15 closed

[2020-10-28 09:15] vinayak-mehta commented on #15
@edugonza Thank you for fixing this! The PR looked good! Thank you for adding a test also :+1:

I'll start working on a release soon.

[2020-10-29 07:13] Colanim opened #207 "🐛 RecursionError while calling a Python object"
## File

[test3.pdf](https://github.com/camelot-dev/camelot/files/5456661/test3.pdf)

## Description

When I try to extract tables from this file, I'm meeting following error :

## Code

[code]

## Environment

 - OS: Ubuntu 18.04.4 LTS (Bionic Beaver)
 - Python version: 3.6.9
 - Numpy version: 1.19.2
 - OpenCV version: 4.4.0
 - Ghostscript version: GPL Ghostscript 9.26 (2018-11-20)
 - Camelot ver

[2020-10-30 10:33] anakin87 commented on #207
I don't get errrors

- OS: Debian GNU/Linux 9.6 (stretch)
- Python version: 3.6.8
- Numpy version: 1.16.0
- OpenCV version: 4.0.0.21
- Ghostscript version: GPL Ghostscript 9.26 (2018-11-20)
- Camelot version: 0.8.2

What is your system recursion limit?

`import sys`
`print(sys.getrecursionlimit())`

Mine is 1000.

[2020-11-01 23:03] Colanim commented on #207
Mine is also `1000`.

The file seems to work if I do :

[code]

[2020-11-05 14:47] playgithub opened #208 "Simple table without lines can't extracted completely by method "stream""
###  pdf

http://www.cninfo.com.cn/new/disclosure/detail?plate=sse&orgId=9900002221&stockCode=601318&announcementId=1207316204&announcementTime=2020-02-21
(click the button on the top right to download the pdf, which has a download icon)

### page

156 (160 / 342)
PS: 156 is the logical page index, 160 is the 1 based physical page index

![image](https://user-images.githubusercontent.com/3665590/9

[2020-11-22 21:05] D-W-L opened #210 "Installation on linux with pip misses the python3-xlwt dependency"
The installation guide for "pip" only lists tk and ghostscript as external dependencies. On linux for excel export python3-xlwt is missing.

**Environment**
 - OS: linux debian 11 bullseye (sid at time of writing)
 - Python version: 3.9.0
 - Numpy version: 1.19.4
 - OpenCV version: 4.2.0
 - Ghostscript version: 9.53.3
 - Camelot version: 0.8.2

btw. Thank you very much for this nice tool!

[2020-11-23 09:31] hzhip opened #211 "PyPDF2.utils.PdfReadError: EOF marker not found"
I made this mistake when I reproduced the case

[2020-11-23 14:06] crliu95 commented on #123
Have encountered the same Error, even when using the example codes. And this Error seems to occur only in the "lattice" flavor.

I have checked the dependencies as the guidence here: [https://camelot-py.readthedocs.io/en/master/user/install-deps.html#install-deps](url) .

My settings:
Windows 10, Python 3.6.10 | Anaconda custom (64-bit), Ghostscript 9.53.3

Here attached the codes and results:
![i

[2020-11-30 10:11] ShayHa opened #212 "Can't read Hebrew PDF"
**Describe the bug**
I am trying to parse a pdf written in Hebrew but all I get is many "cid:###"
![image](https://user-images.githubusercontent.com/44175527/100595353-7a9d9c00-3303-11eb-834b-1747e1546d61.png)

**Steps to reproduce the bug**
Steps used to install `camelot`:
I install it via conda prompt: conda install -c conda-forge camelot-py

**Expected behavior**
Extract the words from the pdf

[2020-12-01 11:16] anakin87 commented on #211
Please read [this](https://stackoverflow.com/questions/45390608/eof-marker-not-found-while-use-pypdf2-merge-pdf-file-in-python).

It seems that your document is not valid.

[2020-12-01 11:24] anakin87 commented on #212
Please read this (#199).

It seems that your PDF is  missing character mappings.
It's not a Camelot bug, I think.

[2020-12-01 11:28] ShayHa commented on #212
Yes, it's not a Camelot bug according to the other topic and SOF link.
I guess that cannot find a workaround that does not include OCR?
I managed to extract the text using tesseract but it ruins the tables and gives me text only.

[2020-12-01 11:33] anakin87 commented on #212
Sorry, I never found other solution than OCR for this problem.

[2020-12-02 11:05] nanne-aben opened #213 "How is the order determined in the TableList?"
I've always assumed that the tables are ordered by the order provided in the columns and table_areas parameters, but this is clearly not the case. Is it ordered by the order in which they appear on the page, in terms of horizontal coordinates? Or something else? Is there a way to control the ordering?

[2020-12-02 19:49] PiotrJurasz opened #214 "Incorrect text sequence in case of multiple new line characters"
Hello,

As per screen below, there is how PDF table is looking.
![image](https://user-images.githubusercontent.com/75391728/100922669-75e10f80-34de-11eb-903f-c9cfbb4ddb61.png)

So expected value for Plant Sloc column is:  GPH\nW\n1900 while W 1\nGPH\n900 is returned.
![image](https://user-images.githubusercontent.com/75391728/100923636-c0af5700-34df-11eb-9767-e2314a67000c.png)

Is there any known

[2020-12-03 05:40] kiyo-matsu opened #215 "Is there any plan to remove dependency of PyPDF2?"
Thank you for providing a very powerful, useful library.
I want to extract tables from various pdfs, but often, when I read a pdf by `camelot.readPDF` function, it gets error from pypdf2 like below.

`PyPDF2.utils.PdfReadError: Could not find object.`
`RecursionError: maximum recursion depth exceeded while calling a Python object`
`NotImplementedError: only algorithm code 1 and 2 are supported. Th

[2020-12-09 17:03] edugonza opened #217 "Vertical text in cells is not supported"
**Describe the bug**
Vertical text in cells is not supported when the table has mixed vertical and horizontal cells.

Sample file:
[vertical-test-01.pdf](https://github.com/camelot-dev/camelot/files/5667466/vertical-test-01.pdf)

![image](https://user-images.githubusercontent.com/20833897/101661617-cc9f9980-3a48-11eb-9403-c9a6a129ffe7.png)

Result:
![image](https://user-images.githubusercontent.co

[2020-12-17 10:16] kiyo-matsu commented on #215
I implemented camelot to utilize pymupdf instead of pypdf2.

https://github.com/kiyo-matsu/camelot/tree/use-pymupdf

[2020-12-17 16:26] Arnie97 commented on #173
Fixed by 13a50e2 (although I'd prefer `with` blocks rather than explicit `close`).

[2020-12-17 16:53] Arnie97 commented on #210
That is an optional dependency for `pandas`. Pandas support a bunch of different I/O formats, and most of them requires optional external dependencies, e.g. `tables` for hdf, `tabulate` for markdown, `xlwt` for excel, `pyarrow` for feather, `pandas_gbq` for Google BigQuery and so many more. AFAIK these're not even documented in `pandas`' own docs. Maybe it's no big deal since `pandas` did provide

[2020-12-18 10:46] Arnie97 commented on #215
Thanks for your great contributions! I also encountered the PyPDF2 problems occasionally, and your fork fixed them for me. The code need to be adjusted slightly to work with PyMuPDF v1.18.5 though:

[code]

According to the [PyMuPDF docs](https://pymupdf.readthedocs.io/en/latest/intro.html#covered-version),

Strict `==` is probably needed in `setup.py` since PyMuPDF do not confirm to the semantic

[2020-12-23 18:51] PackElend commented on #215
@kiyo-matsu could you share how you replaced it?
I need to write an (at least) a scrip to convert all my bank statements to CSV to push them into https://www.firefly-iii.org/
Testing currently some PDF table extracting libraries. Camelot producing quite good results.

Perhaps, it can be replaced constantly doing CI, as I am afraid that changed here will take some time. If that project really works

[2020-12-23 19:11] PackElend opened #220 "[Docs] update "Checks to see if dependencies are installed correctly""
Hi,
https://github.com/camelot-dev/camelot/blob/master/docs/user/install-deps.rst#checks-to-see-if-dependencies-are-installed-correctly needs a little refresher.

I'm using anaconda and Python 3.9 in this case I had to use :
[code]
In addition, the result is empty although Camelot does not complain about missing Ghostscript. The reason might be explained in https://stackoverflow.com/questions/2380

[2020-12-24 15:09] zzhmot opened #221 "a question for Ghostscript dependency installation"
could anyone tell me what's the meaning of the comand line's meanings as follows:
  **find_library("".join(("gsdll", str(ctypes.sizeof(ctypes.c_voidp) * 8), ".dll"))**
when i input the sentence to python REPL, it is pending there, no output was showed.
but if i input like this:
find_library("gsdll64"),  it can ouput the path of  gsdll64.dll

does that means i have correctly installed Ghostscript d

[2020-12-25 01:31] kiyo-matsu commented on #215
@Arnie97 Thank you for your review. I'm happy for solving your problems.

I pushed to the branch a version that fixes PyMuPDF version to v1.18.5.

@PackElend

This is my branch that replaces PyPDF2 to PyMuPDF.
https://github.com/kiyo-matsu/camelot/tree/use-pymupdf

I run CI on my computer, and only 1 test fails.
This test checks that a message from PyPDF2 can be hidden by using `-q` option, but Py

[2020-12-25 17:21] PackElend commented on #215
If I'm correct you did only chances in
- https://github.com/camelot-dev/camelot/blob/master/camelot/handlers.py (https://www.diffchecker.com/KYgveBwc)
- https://github.com/camelot-dev/camelot/blob/master/setup.py (https://www.diffchecker.com/eaapDmCR)

second is only minor and ensures that the right package is installed. If I understand the code correctly, it installs all necessary packages by its

[2021-01-03 05:07] javiqm12 commented on #19
Hi, this enhancement will be highly appreciated.
thanks

[2021-02-04 22:49] rain01 commented on #15
Can't wait. Any idea when it will be released?

[2021-02-06 16:46] JSB97 commented on #104
Have there been any developments on this issue?
I get a similar issue when reading [this document](http://ke.kabupro.jp/tsp/20190520/140120190516429273.pdf)

[code]

[code]

[2021-02-10 22:13] rain01 opened #223 "Using `boxes_flow` in `layout_kwargs` outputs error"
**Describe the bug**
When I to use `boxes_flow`(or `line_overlap`) in `layout_kwargs` I get this error:

Looking at [pdfminer LAParams](https://github.com/euske/pdfminer/blob/master/pdfminer/layout.py#L33) has that value but fails when used with camelot.

**Steps to reproduce the bug**

1. Run the this code with any pdf
[code]

**Expected behavior**
Expected no error

**Environment**
 - OS: OS X B

[2021-02-11 07:21] supperherodev opened #224 "Unstructured Data"
Hi team, the camelot and excalibur is a great tool for extracting data from pdf but sometimes I get unstructured data.
Please give me some suggestion or a way to handle this type of problem below is the attachment you can see 
![pdftable](https://user-images.githubusercontent.com/73991817/107609972-68769d00-6c66-11eb-8c33-bdefbc24df9c.JPG)
![xlsxfile](https://user-images.githubusercontent.com/7399

[2021-02-11 18:11] rain01 commented on #224
You are not giving much to go on here... What have you tried? How to reproduce this result?
I would try some visual debugging and read camelot docs, it has enough params that you can tweak to make it work.

[2021-02-23 07:23] mohankumargx commented on #123
#20  solution is here

[2021-02-25 14:21] realize-qzq opened #225 "Camelot parsed table_areas is not strictly parsed by my specified table areas and may slight beyond my table areas"
Hi all, when using camelot to parse pdf table with the specified table areas, it **may extend slightly out of my table areas.** I want to avoid it. Here is my pdf, please see page 3.
[14-较低活化凝血时间下心房颤动消融术并发症的发生率及出血并发症的危险因素.pdf](https://github.com/atlanhq/camelot/files/6043220/14-.pdf).
You can see the title which is colored red by me and I don't want the title to be parsed in the result.
![image](h

[2021-03-01 19:36] Kumar-Tarun commented on #225
@realize-qzq You need to pass the computed table areas with the `table_areas` parameter instead of `table_regions`.

[2021-03-04 14:48] talha298 opened #226 "Specify layout dimensions of page"
I am using the following script to get the page dimensions from camelot

For one document, layout dimensions came out to be 792, 612 and in another one it came to be 833, 644. Is it possible to specify in camelot that you require the page to be scaled to particular dimensions?

I am asking this because I am using PymuPDF functionality to extract words and their bounding boxes to get the column hea

[2021-03-04 15:13] talha298 opened #227 "Get coordinates of textedges"
I see that the text edges can be plotted using camelot
`camelot.plot(tables[0], kind='textedge').show()`

How is it possible to get the coordinates of these textedges (x and y both). I need to see where the edge starts on x axis and how long is the text edge

[2021-03-04 15:32] talha298 commented on #227
Found the answer to it. You can use
`tables[0]._textedges`

[2021-03-04 15:33] #227 closed

[2021-03-04 19:47] ektaatomar opened #228 "pandas_options={'header':none} what are the other options for this ?"

[2021-03-05 10:31] realize-qzq commented on #225
Thx, I typed the wrong parameter. By the way, sometimes this issue is caused by pdfminer which returns the wrong text position for camelot, see this issue https://github.com/pdfminer/pdfminer.six/issues/281

[2021-03-05 10:31] #225 closed

[2021-03-09 15:55] yash12392 commented on #103
Hey Vinayak, just checking in if you got around to doing this?

[2021-03-12 10:14] zheyaf opened #230 "Text from two columns merged together when they are very close"
**Describe the bug**
Hi! The library works perfectly except when text from two columns are too close to each other (even with a vertical line in between and the `columns` are specified in `read_pdf`), in this case, the text from two columns in this row would be merged together. I couldn't identify where does the issue coming from, could you navigate me to the right module that may cause this issue

[2021-03-12 13:07] zheyaf commented on #230
found solution in https://camelot-py.readthedocs.io/en/master/user/advanced.html, use `split_text=True` in `read_pdf`.
Great!

[2021-03-12 13:07] #230 closed

[2021-03-29 17:55] geistling opened #232 "Can't correctly read stream-format table rows with misaligned values"
**Describe the bug**
I'm having trouble reading in one specific page from [this menu](https://otbstoragestaging.blob.core.windows.net/media/Default/Menu/Nutrition/OTB%20Nutritional%20%26%20Allergen%20Matrix%204.1.16.pdf) with Camelot. Every other page has been fine, but this one is rendered as follows:
![image](https://user-images.githubusercontent.com/34081638/112872934-f67bdb00-908e-11eb-99df-43

[2021-04-04 14:40] vinayak-mehta opened #233 "On license compatibility"
Camelot uses [ghostscript](https://pypi.org/project/ghostscript/) (a GPLv3 licensed project, which is a wrapper on top of [ghostscript](https://www.ghostscript.com/), an AGPL licensed project) to convert PDFs to PNGs in order to do line recognition and table detection in the [Lattice flavor](https://camelot-py.readthedocs.io/en/master/user/how-it-works.html#lattice). Back when Camelot was created,

[2021-04-05 20:02] MughilM opened #234 "Unknown GhostScript error after successful camelot installation"
Hello,
I am currently on an Amazon EC2 Linux machine and have installed `camelot` through Anaconda with `conda install -c conda-forge camelot-py`. The installation happened without any issues. I could see Ghostscript as part of the dependencies being installed through Anaconda.

Afterwards, I attempted to extract the table from the example [foo.pdf](https://camelot-py.readthedocs.io/en/master/_sta

[2021-04-06 11:28] arky commented on #233
@ramkrsna @abperiasamy Do you know any legal brains who advice about this license issues. Thanks!

[2021-04-11 09:43] anakin87 commented on #228
Please explain better the issue.

[2021-04-16 17:27] bmorton1 commented on #234
I've seen this issue as well. I've been able to fix the issue by using ghostscript-9.26 installed using apt-get on ubuntu. The 9.53 version seems to be causing the issue with seg faults.

[2021-04-18 08:01] arky commented on #233
@vinayak-mehta Open Source licenses AMA session https://hub.osc.dial.community/t/open-source-licenses-ama-session/2369

[2021-04-19 07:02] arky commented on #233
Added a post in OSC Dial Community https://hub.osc.dial.community/t/question-about-ghostscript-licensing/2409

[2021-04-20 07:16] erkin98 opened #235 "Skipping image based pages"
My pdf contains both text-based and image-based pages,is there any way to skip image based pages and parse text-based pages?

[2021-04-28 04:06] RickyGunawan09 commented on #20
can anyone tell me how to use multiprocess in camelot ? or did this issues still on progress ?

[2021-04-29 06:20] javiqm12 commented on #14
If camelot can offer an entry function that receives a list of words with their bounding boxes coordinates, it will facilitate the integration of any OCR tool that delivers these info, like Tesseract or EasyOCR, others as well.

[2021-05-01 15:02] phoewass commented on #20
Hi all. Sorry it took me a while to publish the PR while the code was already available.
Now the PR is there to be reviewed, I'm looking forward for your feedback.

[2021-05-03 11:24] JBBalling commented on #234
Having the same issue as stated above, gs-version is 9.26 installed using apt-get on ubuntu.

[2021-05-03 18:11] jimhall commented on #234
Hi All,

I hit something similar to this issue [#193](https://github.com/camelot-dev/camelot/issues/193). The stack trace seems to be pointing to not finding libgs.

Have you confirmed that libgs is installed per the docs? See [the Camelot docs](https://camelot-py.readthedocs.io/en/master/user/install-deps.html#checks-to-see-if-dependencies-are-installed-correctly) on how to confirm a working Ghos

[2021-05-05 05:10] ashwanidv100 opened #238 "Issue in copy_text = ['v'] is not working for tables split in multiple page."
**Describe the bug**

copy_text = ['v'] is not working for a table split in multiple page.

**Steps to reproduce the bug**

table = camelot.read_pdf('pdf_name.pdf', , pages = '1-end', copy_text = ['v'] )
table.df

Steps to reproduce the behavior:

pdf tables should be splitted in 2 pages, where column 1 have only one entry throughout both the page.

**Expected behavior**

The value should be copie

[2021-05-08 09:39] anakin87 commented on #238
If the table is split over multiple pages, Camelot detects several different tables (one for each page).
So it seems natural to me that the "copy_text" parameter does not work as expected.

If I don't understand, please explain better this issue...

[2021-05-08 13:15] ashwanidv100 commented on #238
Yes, Thats correct. Is there any possible work around.

Currently I'm considering pandas ffill() & bfill() based on the other columns continuity (solved only to some extent). But still that will not applies to other scenarios occuring to the other pages.

Note: All the pages in pdf have headers with same name.

[2021-05-09 13:27] hubutui opened #239 "TypeError: 'NumberObject' object is not subscriptable"
**Describe the bug**
TypeError: 'NumberObject' object is not subscriptable

**Steps to reproduce the bug**
Steps used to install `camelot`:
1. `conda create --name camelot -c conda-forge camelog-py -y`

Steps to reproduce the behavior:
1. Add step here (you can add more steps too)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Code**
Add the Camelot code

[2021-05-11 17:52] jeanmonet commented on #234
Not sure, I'm getting the ghostscript error (also installed via conda-forge), even though `libgs9 is already the newest version (9.50~dfsg-5ubuntu4.2).`

[code]

This doesn't cause the errors any longer.

Is this a problem with version 9.5+ of ghostscript, or is it something Python PDF libraries used by Camelot try to do with Ghostscript?

[2021-05-12 07:14] hubutui commented on #239
I try to remove watermark from the pdf file by edit the pdf file with vim, and delete a `BBox`, and then this happens.
I also try to delete the object contains the `BBox` completely (contents from line `55 0 obj` to line `endobj`), and this still happen.
So, I think I shoud not edit the pdf file by vim. And things works as expected.

[2021-05-12 11:15] phoewass commented on #239
You are correct, you should not edit pdfs with vim there are better ways (more reliable).

[2021-05-12 13:08] #239 closed

[2021-05-12 14:18] jimhall commented on #234
Just to confirm can you run the following in your environment:

[code]

Do you get similar output or not? If you get a return as above, then you don't have the problem I am describing - it is something new I am not aware of.

[2021-05-12 20:00] jeanmonet commented on #234
I just tried updating to `ghostscript           9.54.0  h9c3ff4c_0        conda-forge/linux-64`.
Back to getting errors. Jupyter kernel literally fails and restarts when I try to load a PDF with Camelot.

[code]

It seems that ghostscript starting with version 9.2x or later starts causing these errors in Camelot. Might it be a breaking change that was introduced in ghostscript and Camelot still tr

[2021-05-12 20:17] jimhall commented on #234
Yes - you may want to use the python gs module and simply open the PDF without using Camelot to isolate the issue a little more. Unfortunately I have limited expertise here.

[2021-05-12 20:37] jeanmonet commented on #234
Thanks, well hoping **someone from the Camelot team will take a look here to fix the issue**.

[2021-05-13 07:07] ashwanidv100 commented on #238
Update: I'm able to create a generic pythonic logic which will fill the data on other pages. For me, this issue is resolved. But keeping this issue open as it will be added advantage to have these approach incorporated in Camelot.

[2021-05-13 10:37] EHadoux commented on #160
I don't know for GCF but for AWS Lambdas you can create a layer containing all your dependencies and set it as dependency of your function: https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html

[2021-05-20 13:47] jeanmonet commented on #234
UPDATE on issue (still persisting with `ghostscript 9.54.0`):

Camelot breaks (Jupyter kernel has to literraly restart) when trying to read PDF with `lattice` flavor. However, it seems to work with `stream` flavor.

[2021-05-26 20:24] sabetAI commented on #72
Getting the same issue.

[2021-05-30 05:07] sidharthramesh opened #240 "All data goes into single row"
**Describe the bug**
The rows are detected, but all of the data is inserted into the first row for some PDFs. I'd like to separate the data into their own rows.

**Steps to reproduce the bug**
Steps used to install `camelot`:
1. `pip install "camelot-py[cv]"`
2. apt install ghostscript python3-tk

Steps to reproduce the behavior:
1. Trying to extract tables from the pdf below using the code below.

[2021-06-02 20:03] geistling commented on #235
One way to do this would be to specify the numbers of the pages you want to process, like so:

`camelot.read_pdf('your.pdf', pages='1, 3-5, 8')`

Have you tried this out yet?

[2021-06-02 20:24] geistling commented on #240
Hey! I'm not a maintainer but I've encountered this problem before. There are a few workarounds and one of the better ones seems to take care of your issue immediately. I tested it out with page 3 of your pdf:

`pdf_url = "https://github.com/camelot-dev/camelot/files/6565708/20-10-2020.pdf"
tables = camelot.read_pdf(pdf_url,  pages="3", shift_text=[""])`

`shift_text=[""]` will often correct the i

[2021-06-02 22:31] geistling commented on #232
Changing the line_overlap parameter in layout_kwargs solves this problem; I forked the repo and added the same changes that are in [this merge request](https://github.com/camelot-dev/camelot/pull/219) to make it possible to do so.

[2021-06-02 22:31] #232 closed

[2021-06-03 04:24] sidharthramesh commented on #240
@geistling Thank you for the suggestion! I will try this out with all my PDFs. And yes, `stream` doesn't do as well as `lattice` in most cases.

[2021-06-14 20:20] vinayak-mehta commented on #228
@ektaatomar I assume that you're looking to pass that option into `df.to_csv`. You can do it with `df.to_csv(filepath, 'header': None)`.

[2021-06-14 20:20] #228 closed

[2021-06-14 20:24] vinayak-mehta commented on #160
You could create a docker image and deploy it using https://cloud.google.com/run

[2021-06-14 20:24] #160 closed

[2021-06-14 20:27] vinayak-mehta commented on #20
👀

[2021-06-14 20:30] vinayak-mehta commented on #234
Yep only the lattice flavor uses ghostscript. I'll have to figure out a way to reproduce this issue.

[2021-06-14 20:31] vinayak-mehta commented on #14
@javiqm12 You can specify table areas and regions with camelot right now, are you referring to another way to provide bounding box coordinates?

[2021-06-14 20:35] vinayak-mehta commented on #235
Another way could be to send `pages='all'` and then catch this warning `<filename> is image-based, camelot only works on text-based pages.` to skip image based pages.

[2021-06-14 20:35] #235 closed

[2021-06-14 20:35] vinayak-mehta commented on #233
I also got a lot of inputs from the RC community, will try to summarize them here this week.

[2021-06-14 20:41] vinayak-mehta commented on #238
@anakin87 is correct.

There's an open issue for this enhancement https://github.com/camelot-dev/camelot/issues/8

@ashwanidv100 Would love to know if you found any approaches that might generalize on different table headers (while accounting for length and string mismatches). We can continue the discussion on the original issue.

[2021-06-14 20:41] #238 closed

[2021-06-14 22:26] vinayak-mehta commented on #232
👍🏽

[2021-06-15 15:32] Yichen0975 opened #242 "Report a Bug in 'table_regions'"
**Describe the bug**
The parameters for 'table_regions' could not work when using Camelot read a PDF.

When use 'table_regions', I would only get a 'QUANTAL' result:
a. read the whole table and the whole PDF;
b. or reoprt 'ZeroDivisionError: float division by zero'.
(I'm sure I use the correct bbox rules)

**Steps to reproduce the bug**
Steps used to install `camelot`:

Steps to reproduce the beha

[2021-06-16 06:36] ckcr4lyf commented on #242
@Yichen0975 we had the same problem just start yesterday, can confirm it's related to latest version (`0.9.0`).

Going back to `0.8.2`, it works fine. Your bug report says you are on `0.8.2`, I suggest double check once. Especially if automated builds or similar, it may be trying to get the latest. Hope it helps

[2021-06-16 23:14] Yichen0975 commented on #242
Hello,

thanks for your reply and thanks for your suggestions, I’d like to try today.

Best regards,
Yichen

[2021-06-18 08:17] Yichen0975 commented on #242
Dear ckcr4lyf:

Thanks for your reply and thanks for your suggestions. However, after double check the version of Camelot in my computer that I am sure I use the 0.8.2 and the problem remains.

Best regards,
Yichen

[2021-06-21 15:36] awa5114 commented on #242
I also have this issue. Why does this occur?

[2021-06-22 02:55] Yichen0975 commented on #242
I don't know, I think perhaps it's a bug and therefore I report it here.
And at present I try to use other tools to extract tables from PDF (sad....

[2021-06-22 10:50] awa5114 commented on #242
@Yichen0975 it looks like this project has been discontinued. The last commit was made about 2 years ago....

[2021-06-22 11:02] awa5114 opened #243 "Found bug in codebase?"
I think I might have found a bug in the codebase. I am using version 0.9.0 of `camelot-py` and the following line uses a strange order for the bounding box definition:

https://github.com/camelot-dev/camelot/blob/c647f573d89d45b87119554c76b4f8234ea63f25/camelot/parsers/stream.py#L307

The docstring in `text_in_bbox` specifies that a  `Tuple (x1, y1, x2, y2)`  should be passed. `(x1, y1)` is the lo

[2021-06-27 17:55] vinayak-mehta commented on #242
Hey everyone, the input strings that are passed in should be `x1,y1,x2,y2` where `(x1, y1)` -> top-left and `(x2, y2)` -> bottom-right. You can find more info in the section here: https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas This part of the codebase hasn't changed from 0.8.2 to 0.9.0 so that shouldn't be the issue.

[2021-06-27 17:55] vinayak-mehta commented on #243
The input strings that are passed in should be `x1,y1,x2,y2` where `(x1, y1)` -> top-left and `(x2, y2)` -> bottom-right. You can find more info in the section here: https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas This part of the codebase hasn't changed from 0.8.2 to 0.9.0 so that shouldn't be the issue.

[2021-06-27 17:56] vinayak-mehta commented on #242
You can also check out usage in the test here: https://github.com/camelot-dev/camelot/blob/master/tests/test_common.py#L69

[2021-06-27 17:56] vinayak-mehta commented on #243
You can also check out usage in the test here: https://github.com/camelot-dev/camelot/blob/master/tests/test_common.py#L69

[2021-06-27 17:57] #242 closed

[2021-06-27 17:57] #243 closed

[2021-07-05 18:27] MagicAP-QA opened #244 "How to pass table_regions and table_areas in case of rotated table?"
In rotated table camelot rotates the table itself.
The coordinates passed in read_pdf (table_areas) are applied after rotation which causes wrong area to be passed.

[2021-07-05 21:03] omarsumadi opened #245 "Support Reading directly from BytesIO"
Looking to use Camelot instead of Tabula; however, Tabula supports reading directly from a 'Bytes-like' object such as BytesIO or a Bytearray, whereas Camelot does not.

Is this something in the roadmap? Should be an extension of the URL acceptance PR done awhile ago.
Right now, the current solution is to: convert the files into PDFs, doubling the time it takes versus Camelot.

Thanks,
Omar

[2021-07-06 14:39] MagicAP-QA opened #247 "table_areas and table_regions not working on lattice flavour"
This pdf i am unable to extract, it is bordered. Even after passing table_areas and table_regions its not working
[1610.00024v1.5.pdf](https://github.com/camelot-dev/camelot/files/6770809/1610.00024v1.5.pdf)

[2021-07-06 16:58] ZafarShadman09 opened #248 "Column spanning is not handled in stream flavor"
Every thing read properly except for the column header.
[0902.1884v1.1.pdf](https://github.com/camelot-dev/camelot/files/6771582/0902.1884v1.1.pdf)

![image](https://user-images.githubusercontent.com/55151084/124639188-7fce5500-dea9-11eb-890b-444b620227b5.png)

[2021-07-06 16:59] ZafarShadman09 commented on #248
B and C column should spanned together and D and E should be spanned together.

[2021-07-07 13:45] anakin87 commented on #247
Please report a detailed example.

[2021-07-09 09:48] ZafarShadman09 commented on #247
**Earlier Configuration Used :**
stream: lattice
flag_size: True

Table was not getting extracted
So i passed the table coordinates in conf **table_areas** and **table_regions**, still no table was found.
This was original issue.

**New Configuration**
stream: lattice
flag_size: True
line_scale:50
I am able to detect and extract the table. But i see spanning is not covered.
In the image **Power an

[2021-07-11 16:57] vinayak-mehta commented on #245
@omarsumadi This would awesome to have but I might not have enough bandwidth to do this in the near term. Would you like to work on this and submit a PR?

[2021-07-11 17:29] vinayak-mehta commented on #244
That's not supported yet but it would be a useful enhancement. Would you like to work on it and submit a PR?

[2021-07-11 17:30] vinayak-mehta commented on #248
Hi @ZafarShadman09, right now camelot doesn't support writing spanning cells in Excel files, but it would be a useful enhancement. Would you like to work on it and submit a PR?

[2021-07-11 17:34] vinayak-mehta commented on #247
Original issue can be solved by using line_scale to detect short lines: https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines

Writing spanning cells in Excel files is not supported yet.

[2021-07-11 17:34] #247 closed

[2021-07-11 23:36] vinayak-mehta commented on #234
Meanwhile, can you try installing the latest version with `pip install "camelot-py[base]==0.10.1"` and then trying out the `poppler` image conversion backend? Here's a snippet:

[code]

More info in the docs here: https://camelot-py.readthedocs.io/en/master/user/advanced.html#use-alternate-image-conversion-backends

[2021-07-12 05:43] ZafarShadman09 commented on #247
Since HTML's support spanning cells, so I tried to export to HTML but its not handling.
Any suggestions...
![image](https://user-images.githubusercontent.com/55151084/125236744-1a8fbf00-e302-11eb-882e-e5889f46764b.png)

[2021-07-12 14:43] jimhall commented on #247
You could pass the resulting table from Camelot into [XlsxWriter](https://xlsxwriter.readthedocs.io/index.html) the [merge_range()](https://xlsxwriter.readthedocs.io/worksheet.html#merge_range) function. It has really great documentation on how to use it.

[2021-07-12 20:32] vinayak-mehta commented on #247
@jimhall That's a great suggestion!

@ZafarShadman09 Sorry if I wasn't clear earlier. Excel and HTML support writing tables with spanning cells in their format, but Camelot doesn't support _writing cells in the spanning format_ yet.

[2021-07-13 09:09] ZafarShadman09 commented on #247
Thanks @vinayak-mehta @jimhall

[2021-07-13 09:12] ZafarShadman09 opened #255 "How to choose the row_tol"
I see that choosing a correct row_tol params helps in handling the wrapping of the text but too high row_tol parameter is merging the unnecessary rows also so being particular about the row_tol is necessary.

Questions are:
1. How to decide dynamically for tables to pass row_tol?
2. Why rol_tol is also merging the columns?

[2021-07-13 17:46] ZafarShadman09 commented on #248
@vinayak-mehta I would definitely love to contribute on this.

[2021-07-13 17:46] #248 closed

[2021-07-14 10:19] siddharthchauhan opened #256 "Getting error when trying to run read pdf with lattice flavor but works fine with stream."
import camelot

tables = camelot.read_pdf('04-01 Amended Protocol 4.pdf',
                          pages='46',
                          flavor='lattice',
                          line_scale=20,
                          process_background=True)
print(tables)

---------------------------------------------------------------------------
TypeError                                 Traceback (most rec

[2021-07-18 18:56] bwhitearg commented on #234
was running into this same issue with ghostscript 9.50, lattice flavour would immediately crash python or jupyter with:

changing to

`camelot.read_pdf(.... backend="poppler") `

stopped this and I managed to parse my PDFs with no issues thus far.

[2021-07-19 15:35] KunalGehlot commented on #133
You can implement a method to accept templates as parameters for each page, something like [tabula.io.read_pdf_with_template() method](https://tabula-py.readthedocs.io/en/latest/tabula.html?highlight=template#tabula.io.read_pdf_with_template). You can find more about it [here](https://github.com/chezou/tabula-py/pull/112) and [here](https://github.com/chezou/tabula-py/blob/master/examples/tabula_e

[2021-07-21 21:06] smathai02 opened #258 "IndexError: list index out of range"
I am trying to read a folder of pdfs and extracting data from the pdfs

Code is as follows:
for root, dirs, files in os.walk(".", topdown=False):
    for file in files:
        filename, extension = os.path.splitext(file)
        if extension == '.pdf':
           print(os.path.join(root, file))
            tables = camelot.read_pdf(File)
            df=tables[0].df # get a pandas
            df.c

[2021-07-23 15:08] nikhil-R-A commented on #258
This means that the table wasn't read

[2021-07-23 16:08] nikhil-R-A opened #259 "Last row of table missing from output"
I've been using Camelot only recently, and am noticing that for all my pdf files Camelot's output does not have the last row of the table I'm searching for. It's very peculiar because it reads all the other rows in the table perfectly. I've tried scanning the issues page for any answers or things I can try, and have tried to use matplotlib to plot joints, lines etc but all of that is perfect. It l

[2021-07-24 00:24] smathai02 commented on #258
Thanks,
The first pdf loads properly but the error occurs when I try to read the second pdf. Do I need to reinitialize the camelot object?

[2021-07-27 08:12] anakin87 commented on #259
Please attach the PDF and the code you use.

[2021-07-27 14:00] stefanw opened #260 "ZeroDivisionError when reading PDF in text_in_bbox"
Reading PDF results in `ZeroDivisionError`:

[code]

`ba` is `<LTTextLineHorizontal 926.967,593.860,926.967,601.300 '€\n'>` which seems to have a zero width thus zero area.

Longer stack trace at the end.

**Steps to reproduce the bug**

`pip install camelot-py[cv]==0.10.1`

Download PDF below, read with camelot.

**Expected behavior**

No errors.

**Code**

[code]

**PDF**

https://media.frag-den

[2021-07-27 16:51] nikhil-R-A commented on #259
Unfortunately I'm not sure whether I'm allowed to, but I did some debugging and figured out that the lattice is not assigning the data to the rows correctly. Specifically, it's assigning the data in a row to the row below it, due to which the data in the last row is not assigned to the lattice and the first row of the lattice is empty.

[2021-08-05 13:08] GabKout opened #261 "Getting TypeError: bytes or integer address expected instead of str instance"
Hello to everyone,

It's my first bug report so I'll try to respect all rules, sorry if something is not perfect.

Whenever I try to import a pdf with tables, I get the same issue:

I don't think my code is the issue as it merely copies the example on the website i.e.

[code]

'foo (1).pdf' is just the sample doc I dowloaded [here](https://camelot-py.readthedocs.io/en/master/)

**Environment**

-

[2021-08-09 17:23] benduvi20 opened #262 "Data assigned to incorrect rows and merged with rows below when there is a empty cell"
**Describe the bug**

On certain tables when there is an empty cell on the nth row the tool merges the nth and n+1th row and mis-assigns the data. Additionally there is generally a blank row also added when this is the case. I have verified the table is being correctly identified using the visual debugging tool and all lines and text is well identified but then is not well replicated into workable

[2021-08-11 21:02] saulobritto commented on #193
I had this problem today. Solved creating an env in conda installing camelot at the sime time:
conda create -n camelot -c conda-forge camelot-py

[2021-08-20 04:03] qianxuanyon commented on #133
![image](https://user-images.githubusercontent.com/29041881/130177281-df38f244-7b87-461f-8d49-7e56e3df2cf6.png)

[2021-08-22 11:23] ZafarShadman09 opened #263 "Minimum table area supported by Camelot"
I am trying to pass a small table of one row.
Config:
`{'flavor': 'stream', 'table_areas': ['31,377,407,318'], 'edge_tol': 500, 'row_tol': 5}`

The error I am getting is
`{ValueError}min() arg is an empty sequence`

[2021-08-30 21:28] brsolomon-deloitte opened #264 "Camelot unable to parse table that contains inconsistent number of columns"
**Describe the bug**

Camelot unable to parse table that contains inconsistent number of columns. I've looked through the [advanced usage docs](https://camelot-py.readthedocs.io/en/master/user/advanced.html) but am not seeing a solution.

**Steps to reproduce the bug**

[code]

**Expected behavior**

Rows of `data` above should have 9 rather than three values for each value in the red/white/blue m

[2021-09-05 15:19] andkirby opened #265 "How gsdll on Windows?"
Hi team,

Really need help here.
https://stackoverflow.com/questions/69064465/how-to-feed-ghostscript-dll-library-to-python-in-windows
I have installed the ghostscript app for windows, but Python still does not "see" it.
Details by the link.

Thanks in advance

[2021-09-05 18:20] garry8888 opened #266 "cv2.error: OpenCV(4.5.3)"
I want to get some data from table in pdf file with library camelot-py in my django project. But when I try to run a simple code, it rise Traceback:
[code]

My code:

[code]

- OS: Windows 10
- Python version: 3.7.5
- All dependencies for Windows have been installed successfully (Ghostscript and ActiveTcl).
- Camelot-py have been installed with pip (pip install "camelot-py[base]").
- My file is te

[2021-09-12 20:27] garry8888 commented on #266
I solved the problem. The right way is to define **flavor="stream"** in the function:
`tables = camelot.read_pdf(pdf_file, flavor="stream")`

[2021-09-12 20:27] #266 closed

[2021-09-13 10:09] shm0214x opened #267 "Can you please help? ( Error: No tables found on page-1 [stream.py:453] )"
Hello Experts,

I am suffering from an issue that Camelot said there is no table found. Can you please help, thank you so much!!!

The code I wrote is as follows:
###########################################################################################
import camelot
import pandas as pd

outdf = pd.DataFrame()

filepath = 'D:\GS_ 20210731_P9.pdf'
flavor = 'stream'
table = camelot.read_pdf(filepa

[2021-09-20 16:26] tiagosamaha commented on #267
Could you upload the PDF from that example?

[2021-09-20 16:28] tiagosamaha commented on #265
Did you add ghostscript to environment variables?

[2021-09-20 16:58] tiagosamaha commented on #264
This can occur due background color. Try to increase "line_scale" to detect the lines.

`tables = camelot.read_pdf(filepath='CNSSI_No1253.pdf', pages='48', line_scale=30)`

[2021-09-20 17:26] #264 closed

[2021-09-26 03:38] myrhillion opened #268 "two single row tables in two separate pdfs don't bet read by camelot as tables"
Windows-10-10.0.19043-SP0
Python 3.9.6 (tags/v3.9.6:db3ff76, Jun 28 2021, 15:26:21) [MSC v.1929 64 bit (AMD64)]
NumPy 1.21.2
OpenCV 4.5.3
Camelot 0.10.1

**Describe the bug**
2 of 55 pdfs with K-12 education table data have one row tables that don't process as tables.
https://www.dpi.nc.gov/media/8350/open
https://www.dpi.nc.gov/media/8325/open

It doesn't find a table, likely related to one row e

[2021-10-01 12:17] alwinw commented on #265
Appears the original poster has marked their SO question as solved: https://stackoverflow.com/a/69065163

For anyone else that comes across this, here is a link to the official docs: https://camelot-py.readthedocs.io/en/master/user/install-deps.html

@tiagosamaha you can probably close this issue 🙂

[2021-10-01 23:02] tiagosamaha commented on #265
@vinayak-mehta Could you close this issue?

[2021-10-01 23:22] tiagosamaha commented on #268
@myrhillion

Did you catch some error or just not return the right table?

[2021-10-01 23:29] tiagosamaha commented on #268
If just not return the table, I guess it's because the background color from table.

Try to use line_scale ([docs](https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines)) argument to get fine tune on line detection.

`tables = camelot.read_pdf(weburl, line_scale=45, pages='all')`

Another thing to try is `background_process` ([docs](https://camelot-py.readthedocs.io/en/

[2021-10-01 23:33] myrhillion commented on #268
Yeah it wasn't returning a table on those two examples, I thought it may
have been due to one line tables.
It was odd that out of 55 pdfs with similar table formatting, the only two
that failed to return tables were the one data row tables in those 2 pdfs.

I'll try the suggestions you provided and see if that works when I can.
 Thank you.

On Fri, Oct 1, 2021 at 7:29 PM Tiago Samaha Cordeiro <
**

[2021-10-02 14:04] tiagosamaha commented on #265
@andkirby Was solved?

[2021-10-04 17:36] paul-tharun commented on #259
Hey @nikhil-R-A  I am facing a similar issue but I am at liberty to link my pdf so I am linking the pdf and code, so It will be helpful.
[code]
link to pdf : `https://www.education.gov.in/sites/upload_files/mhrd/files/statistics-new/AISHE2016-17.pdf`

The issue is that the data for the first row is being assigned to the second row and so on.

[2021-10-05 06:45] anakin87 commented on #259
This is the original file:
![image](https://user-images.githubusercontent.com/44616784/135973247-67860f1a-81a4-4ace-9c92-eb54502d0b89.png)

This is the extracted dataframe:
![image](https://user-images.githubusercontent.com/44616784/135973450-77cdb10b-920f-4413-9a17-45e2cfda5872.png)

[2021-10-08 22:04] alissonsv opened #271 "parsing PDF with rows in different sizes"
Hello, I'm trying to parse this PDF been a while, and tried almost all configs, even been read the code to find a solution.
![pdf](https://user-images.githubusercontent.com/7702689/136618532-d13afc61-5794-45ac-be35-c614d78507fc.png)

as you can see, the date at first column is not at the top of the cell, so the table get parsed like this:
_the `...` are the cells that I had to censor_

|      |

[2021-10-11 22:11] andkirby commented on #265
@tiagosamaha Yes, I wrote the answer in by the link. It was about PATH and IDE reload (the last one I didn't expect it must be done).
Thank you for your involvement, guys!

[2021-10-11 22:11] #265 closed

[2021-11-02 18:21] denschmitz commented on #261
I'm currently trying to track this one down. It's being emitted by ghostscript-python library in response to something camelot sent it in __init__. I'll load it in the debugger later.

I find that using flavor="stream" prevents the error, probably because ghostscript isn't used for that.

Anyone who could save me the next few hours will be my friend.

[2021-11-02 18:28] denschmitz commented on #261
I resolved mine by uninstalling "camelot-py" and installing "camelot-py[base]".

[2021-11-08 12:40] alissonsv commented on #271
Hey there!
Posting here what was the configs that worked for parsing this table:
[code]

[2021-11-08 12:40] #271 closed

[2021-11-09 15:53] tiagosamaha commented on #268
@myrhillion worked?

[2021-11-09 22:11] myrhillion commented on #268
Sorry, I haven't had time to try the fix on this project yet.  Had to back
burn it for a bit.

On Tue, Nov 9, 2021 at 10:53 AM Tiago Samaha Cordeiro <
***@***.***> wrote:

--
Doug Taggart

[2021-11-17 14:53] ncarboni opened #273 "Delimit table area by using graphical sign on the page"
Hello,
I am trying to extract a series of tables from a PDFs but I am having issue detecting the right area and automatising the process.

[Here's a sample of the PDF](https://drive.switch.ch/index.php/s/Di4nbjBfO8vIz5h)

The page is formed by blocks (delimited by the presence of an upper line) and each block is a table. I am able to extract a table comprising all the blocks (`tables = camelot.rea

[2021-12-08 04:33] optimizasean opened #274 "Double quotation mark causes issue - used to denote inches as measurement (common occurrence)"
Running latest python and camelot.

PDFs which contain tables that have " in them misbehave and fail

example: `200"`
where `"` is used to denote inches.  I assume the same would cause problems for `'` as feet.

If there are multiple of the above like `100" or 200" or 300"` it also misbehaves and does strange things in the output.

If you use the lattice parser and it separates by lattice for a we

[2021-12-08 06:27] rain01 opened #275 "Python crash when trying plot camelot results"
**Describe the bug**

When I call camelot through Django(3.2.9), python crashes during plot creation with this error:

[code]

**Steps to reproduce the bug**

1. create django view with below code(`get_view`)
2. call `get_view` view from browser

**Code**

[code]

**Environment**

- OS: macOS
- Python version: 3.8.12
- Numpy version: 1.21.4
- OpenCV version: 4.5.4.58
- Ghostscript version: 0.7
- P

[2021-12-08 15:56] anakin87 commented on #274
Please attach an example PDF, if you can.

[2021-12-08 16:01] anakin87 commented on #275
Can you explain better what you are trying to achieve?
Why are you creating a plot, which seems to be unused later?

[2021-12-09 04:33] optimizasean commented on #274
The PDF I discovered this on, I am unfortunately not able to share.  I also don't have the tools to create a PDF on my machine.  I generally avoid working with PDFs at all costs.

[2021-12-10 19:08] rain01 commented on #275
Good question. I am trying to get table data and see what camelot is seeing when parsing pdf but that was only for debugging. I have everything else around it stripped for reproducing this issue.

I stopped calling this for browser requests and I think this solved my issue.

[2021-12-11 21:41] HoffmannP opened #276 "Camelot without X"
Is there any way to run camelot (and I suspect it depends on some underlying library) without X-server?

[2021-12-16 17:27] shiyueee19 opened #277 "Does camelot only work for a one-page pdf?"
I tried to read a pdf with a large table across many pages, but only the two tables on the first page were read:

`tables
TableList n=2
tables[0]
Table shape=(5, 4)
tables[1]
Table shape=(19, 11)`

Does camelot only work for a one-page pdf? How can I extract all tables in the pdf file?

[2021-12-16 17:45] #277 closed

[2021-12-25 20:38] Imipenem opened #278 "Read a pdf table with first row as a header"
**Describe the bug**

Hey there,

I tested camelot using this file: https://github.com/chezou/tabula-py/blob/master/examples/data.pdf
The parsing results are better than tabula-py (no missing data), but I have one issue:

As can be seen, all 4 tables have "column names" (for example first table `mpg, cyl, ...`, so basically the first row. However using camelot, this gets simply parsed into a dataf

[2022-01-04 09:08] mr-bjerre opened #279 "Not able to install on M1"
**Describe the bug**

I'm trying to install camelot v0.10.1 on my mac with M1 chip but I'm getting

[code]

when trying to install with

[code]

The reason is `pdftopng` is not available for arm64.

**Environment**

- OS: [e.g. macOS]: macOS
- Python version: 3.8
- Camelot version: 0.10.1

[2022-01-06 20:25] omer8690 commented on #118
@vinayak-mehta
What if I don't know the exact table area?
I am having the same issue, titles above and below the table are extracted alongside the table itself.
I tried changing the `layout_kwargs={"line_margin"}`, as well as other parameters but it doesn't seem to solve the issue.
Do you have any other suggestions?

[2022-01-06 20:45] omer8690 commented on #118
update on my last comment:
I found that it happened because pages in the pdf I was working with all have lines along the edges. When I selected a smaller part of the page (inside the 'edge lines') the table was extracted perfectly.

[2022-01-19 14:36] anakin87 commented on #278
Camelot tries its best to turn the PDF into a valid tabular structure.

In my opinion, what you highlight is not actually a bug: there can be several possible layouts for a table defined by n rows and m columns.
Camelot takes an agnostic approach to the problem of identifying the headers; any further processing is left to the user and is possible, relying on the excellent pandas library.

[2022-01-19 20:17] Imipenem commented on #278
I see, yeah it's probably not a bug, I was just hoping it could be possible to somehow tell `camelot` like 'Hey, the first row ur parsing into the data table is probably the column names.' like passing a parameter to the `read` function.

But I probably have to stick with pandas for now. Thanks anyways.

[2022-01-28 11:23] professorr-x opened #281 "Debugging is slowing down our processing"
Hello Guys,

I recently integrated camelot to convert my pdf files to dataframes, with a fastapi upload process. Currently the processing time is taking 3mins per file after digging deeper i found out this is because of the pdfminer.psparser debugging, would it be possible to have this turned off or an option which allows no debugging.

[2022-02-11 21:39] blackelk commented on #260
Hi also had this issue

`camelot-py==0.10.1`

`<LTTextLineHorizontal 202.905,138.447,202.905,149.442 '(cid:1)\n'>`

[code]

[2022-02-16 22:52] rain01 commented on #260
I have the same issue.

[2022-02-18 07:48] xi4od opened #282 "_get_pages"

[2022-02-18 07:49] xi4od opened #283 "got multiple values"

[2022-02-18 07:49] #283 closed

[2022-03-01 08:57] psrubing opened #285 "IndexError during opening some pdfs."
Hello,

I've encountered bug during opening some pdfs using camelot.read_pdf() function.

Image below provides this bug:
![image](https://user-images.githubusercontent.com/37271385/156136628-c5b00ac8-82c2-4700-829b-f502c7f8a282.png)

**Environment**

- OS: Windows 10
- Python version: 3.7.11
- Numpy version: 1.21.4
- OpenCV version: 4.5.1.48
- Ghostscript version: 0.7
- Camelot version: 0.8.2

**A

[2022-03-01 16:11] scotscotmcc opened #286 "No module named 'cv2' when importing camelot"
I installed camelot via pip and then went to import it and the import failed, giving the error
`ModuleNotfoundError: No module named 'cv2'`

I am on windows 10, python 3.10.2.

I was able to do a `pip install opencv-python` and once that completed, import of camelot worked fine. So I imagine that just opencv-python isn't properly identified as a dependency when install camelot via pip.

[2022-03-04 07:56] lahpoplarhomes commented on #271
Sorry newbie to github, but how can I view the solution on this after this issue was closed? Thanks in advance

[2022-03-07 10:29] ramSeraph opened #287 "IndexError while using split_text"
`IndexError` thrown when using `split_text=True`

[code]

**Steps to reproduce the bug**

**Code**

[code]

**PDF**

[service_providers_ul.0.pdf](https://github.com/camelot-dev/camelot/files/8196798/service_providers_ul.0.pdf)

**Screenshots**

Not Applicable

**Environment**

- OS: Linux
- Python version: 3.9.4
- Numpy version: 1.22.1
- OpenCV version: 4.5.5.6
- Ghostscript version: 0.7
- Camelot

[2022-03-07 10:33] ramSeraph commented on #287
Probably related to #98 #285

[2022-03-07 10:35] ramSeraph commented on #287
Cause of Error:
https://github.com/camelot-dev/camelot/blob/master/camelot/utils.py#L626

Shouldn't unconditionally increment the index, bounds should have been checked

[2022-03-07 10:37] ramSeraph commented on #287
Can confirm that changing that piece of code for column index bounds fixed the problem

[2022-03-07 10:42] ramSeraph commented on #287
In general.. Can we split PDFMiner texttline objects based on whitespace and only use the non-blank areas in checking for inclusion in table/column/row/cell?

This might fix most of the errors I have encountered with this library.

[2022-03-07 11:28] That-LEGO-Guy commented on #275
you could .savefig(plotPath+table.page+".png) the plots to png intead of .show()  the extraction won't pause for each plot and you can look at the images aftewards.

also inside the for loop put:
matplotlib.pyplot.close(figure)

too many plots opened can cause more issues.

[2022-03-07 12:02] ramSeraph commented on #276
I have been able to run camelot from a container without an X server.. I am not sure where the X server requirement is coming from.
for displaying plots for debugging from the console.. i have been using the following code..

[code]

I hope this helps.

[2022-03-07 12:30] ramSeraph commented on #279
My last attempt before I moved to docker with platform set to `linux/amd64` can be found here - https://github.com/ramSeraph/opendata/blob/6706f889ac7b0c7d0ed103516be9951bc7e6b11c/bbnl/scrape.py#L155

I think i forced pip installation of `camelot-py` with the `--no-deps` flag and overrode the conversion backend with a local ghostscript backend.  I cannot recall if it worked.

[2022-03-07 12:51] ramSeraph opened #288 "text_in_bbox should not unconditionally discard overlapping text"
**Describe the bug**

`text_in_bbox()` function which is used to get the textlines which are in a table area, currently drops textlines in the table area which intersect with other textlines in the table area. This is not always desirable. Original rationale for this is in #15

I am attaching a sample pdf where this goes wrong. In this particular case two textlines belonging to separate cells over

[2022-03-07 17:25] alissonsv commented on #271
hi @lahpoplarhomes, for my issue the solution is just above your comment, at https://github.com/camelot-dev/camelot/issues/271#issuecomment-963111544

[2022-03-07 20:13] JoshuaDietz commented on #286
I had the same error on MacOS and like you said installing `opencv-python` solved it for me too.

[2022-03-07 21:25] lahpoplarhomes commented on #271
Thank youuu

[2022-03-09 07:41] ramSeraph opened #289 "Debugging Enhancements"
Apart from the currently available graphical debugging tools available with `camelot.plot`, sometimes it helps to actually have access to the pdfminer textline objects to debug when things go wrong.

Adding `Parser` object's `t_bbox` to the `Table` object would help for this.

Also,  currently when no tables are returned for a page, there is no way to debug that. So, adding some of the things avai

[2022-03-10 07:14] VisheshJain112 commented on #151
@vinayak-mehta I want automatically detect the flavor, any update on that part?

[2022-03-12 23:49] sometimesabird opened #290 "Decimal Points Missed Entirely by New Version"
**Describe the bug**

Decimal points are sometimes not read by the program despite being in the pdf text. I.e., it reads "1.5" as "15". The is a **new** bug, as version 0.7.2 was working correctly. The current version (0.10.1) as well as 0.7.3 both fail.

**Steps to reproduce the bug**

1. Download this [table](https://www.osce.org/files/f/documents/6/2/369741.pdf).
2. Install camelot: `pip instal

[2022-03-13 08:45] ramSeraph commented on #290
Sounds more like a bug that has been fixed..  you seem to be passing '.' in the strip argument.. that is supposed to strip the decimal points.

[2022-03-13 20:43] sometimesabird commented on #290
Oh, so it's mean to strip _any_ of the characters, not this _particular_ sequence?

[2022-03-13 22:10] ramSeraph commented on #290
It looks that way from the code..

https://github.com/camelot-dev/camelot/blob/644bbe7c6d57b95aefa2f049a9aacdbc061cc04f/camelot/utils.py#L503-L505

It used to only strip at the end of the line, but now it strips from the whole line.

It was changed in this [commit](https://github.com/camelot-dev/camelot/commit/240ea6c4111b266a54c3eede9a1e4bae0d50cf4e).

But even in it's previous version it was alw

[2022-03-16 05:42] raven44099 opened #291 "This PDF doesnt work #colab"
**Describe the bug**

[code]
returns 4 tables that are  unusable.
see: https://colab.research.google.com/drive/12RxZNH68ueb46suWOxZf_m_ixj_3jb2m?usp=sharing

**Expected behavior**

find the table

**PDF**

https://pubs.acs.org/doi/10.1021/acssynbio.1c00353

<details><summary>Screenshot</summary>
<p>

![image](https://user-images.githubusercontent.com/67215370/158523226-fafc8c29-de56-419f-9c01-8219

[2022-03-16 15:02] ramSeraph commented on #291
You might have better luck with `parser="stream"` argument and without the `process_background=True` argument

[2022-03-18 02:25] drennapete commented on #287
@ramSeraph Can you elaborate on how to implement the fix for this? I think I have the same issue with this doc:

[Example 1.pdf](https://github.com/camelot-dev/camelot/files/8299384/Example.1.pdf)

[2022-03-18 02:35] drennapete commented on #287
is this the same issue?: https://github.com/atlanhq/camelot/pull/475

[2022-03-18 03:01] Ademose opened #293 "Can not read PDF"

[2022-03-18 11:03] ramSeraph commented on #287
it might be the same issue. Running with the following fix went through

my fix is this
[code]

[2022-03-18 11:07] ramSeraph commented on #287
The fix in the pull request deals with problem further down the line. The diff i posted in the above comment is closer to the origin of the problem.  Even then.. it is still a band-aid.

That whole function is complicated.. and that original use case for which the `cut[0] + 1` and the `cut[0] -1` was done is not clear to me. So, I would rather leave it upto the original author to properly fix this

[2022-03-18 11:09] ramSeraph commented on #287
I personally fixed the camelot version in my project and monkeypatched the fix in.

[2022-03-19 06:00] drennapete commented on #287
Awesome, thanks for the code excerpt! I've never edited a package before, but I'll give it a go.

[2022-03-25 04:47] raven44099 commented on #291
Indeed.
It gives me now 8 tables and the fifth corresponds to table paper.t2.
Table paper.t1 and paper.t3 are not found but I am interested in paper.t2. Thank you.

[2022-03-25 04:47] #291 closed

[2022-03-28 17:29] SraavanChevireddy opened #294 "[HELP NEEDED] Read Side-Side Tables"
I have a document that has the two 2X2 tables horizontally aligned. When using the Camelot reader it comes out as a 2X4 grid. But the output is expected to be a 4X2 grid. Is there any parameter I need to pass to make it work? Any suggestion would be greatly appreciated. Thanks!

[2022-03-28 19:32] kuirolo commented on #286
I had this same issue, but when I looked into it it's because I didn't specify [base] in my pip command as specified in the readme:
`pip install camelot-python[base]`

However, this was unexpected for me so I made a fix so that asking for either `camelot-python` or `camelot-python[base]` will result in usable packages.

@vinayak-mehta should I make a proper pull request? My fix is pretty minimal a

[2022-04-04 12:52] raj5287 commented on #263
Hey @ZafarShadman09 were you able to resolve this?

[2022-04-05 06:42] ZafarShadman09 commented on #263
No i was not able to resolve this, I rather handled the exception.

[2022-04-18 03:15] Tirth27 opened #295 "View camolet command-line interface via HTML."
Hi There,

This is more a question rather than a bug report.

Currently, I am using the Camelot command-line interface to [extract the table x-y coordinates](https://camelot-py.readthedocs.io/en/master/user/advanced.html#text).

I then use the extracted table x-y coordinates to get the[ specific table areas ](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas).

As

[2022-04-19 12:36] jhalmu commented on #279
Installed ok with miniconda (for m1)

[2022-04-21 09:44] ashissahu commented on #258
@smathai02 , did the issue resolve for you ?
i am facing similar issue ? could you please help me ?

[2022-04-25 19:41] SteffRainville opened #296 "show() not showing anything"
Following the tutorial on visual debugging using code not command line.
show is instantly closing and not showing the figure

**Expected behavior**

Show the figure until I close it.

**Code**

import camelot

tables = camelot.read_pdf('foo.pdf')
camelot.plot(tables[0], kind='grid').show()

[code]

[2022-04-25 20:28] mrshll commented on #286
@kuirolo just a note - I think you meant `camelot-py` in those examples above (vs `-python`)

[2022-05-02 03:49] pratheesh-prakash opened #299 "ZeroDivisionError: float division by zero"
**ZeroDivisionError encountered while extracting tables using camelot.**

`tables = camelot.read_pdf('page_39.pdf', pages='1', flavour='stream')`

[code]

**Steps to reproduce the bug**

1. Download the PDF file. https://file.io/lVEXzype0AGL
2. Import camelot and issue the following expression: ``tables = camelot.read_pdf(file_path, pages='1', flavour='stream')``

**Expected behavior**

Expected t

[2022-05-04 07:04] kenho211 commented on #299
When trying to avoid duplicating text by discarding overlapping bounding boxes, a threshold of 80% is used (intersection of bounding boxes over the first bounding box in the pair).
In your sample pdf, there is a bounding box with area = 0.
Adding a line to filter out textbox with 0 area will do.

`def text_in_bbox(bbox, text):
    """Returns all text objects present inside a bounding box.

    Par

[2022-05-05 00:17] teohsinyee opened #300 "[Question] Detect table from PDFs (Return bool values only)"
How to detect table from a bunch of PDF files using Camelot?

I want to input bunch of PDF files, and return True or False only.

I have 2000 PDF files and want to segregate files that contain tables.
It's impossible to open the file 1 by 1 to check if it contains table.

[2022-05-10 10:39] hammad26 opened #301 "camelot stream flavor"
Hi

I am using stream flavor to extract tables. It is working perfectly fine where there is a 6-digit number (i.e. 591,837) in a cell but when there is a 7-digit number (i.e. 4,052,954) in my pdf then it is merging the cells. Because I am working with the numeric data, it is important to extract the digits correctly in their cells. I am attaching a contour plot of my table as well where problemati

[2022-05-11 15:07] treflip commented on #286
same issue of cv2 after trying to use camelot. I had a hard time specifying the base (python 3.10.2). The formatting that worked finally was pip install camelot-py 3. but still had the cv2 error afterwards. Is there a place to see which base are supported? I will try the pip install of opencv next.

[2022-05-15 20:05] Artyrm opened #302 "How to force only one table per page?"
I have docs with some cells span over several pages, that can eventually lead to several tables being detected per page.

![image](https://user-images.githubusercontent.com/21180686/168491695-2fcd40ba-0ba5-4111-b278-d7ada9cd39d4.png)
![image](https://user-images.githubusercontent.com/21180686/168491699-fdb158fc-d48a-4d75-99e9-53878058f0ad.png)

I can't fix it with with `table_areas = ['40, 790, 56

[2022-05-16 16:34] Artyrm opened #303 "Can't use 'columns' parameter even with stream"
**Describe the bug**
If using columns parameter even with flavor 'stream' it still rises error:
`ValueError: columns cannot be used with flavor='lattice'`

**Steps to reproduce the bug**
`tables = camelot.read_pdf(file_name, flavour="stream", columns = temp, joint_tol = 12, pages = str(first_page) + "-" + str(last_page))`

**Environment**

- OS: Ubuntu
- Python version: 3.7.13
- Numpy version: 1.2

[2022-05-17 16:38] jhalmu commented on #286
Same issue. Installed `opencv-python`, but now want's ghostsctipt : ```
File "/Users/xxxx/Documents/Projektit/PdfExtractEnergy/energy/lib/python3.8/site-packages/camelot/backends/ghostscript_backend.py", line 31, in convert
    raise OSError(

OSError: Ghostscript is not installed.
[code]

[2022-05-18 05:59] LaKenLin commented on #303
Hi Artyrm,

Be aware that you spelled flavo**u**r instead of flavor. I am currently using camelot version 0.10.1 with flavor='stream' and columns given without issues. Therefore, I suspect, that your issue comes from the misspelling.

Cheers!

[2022-05-20 18:45] Artyrm commented on #303
Hi @LaKenLin.

Ouch, that was unexpected, didn't think that error should be about columns, when an unknown parameter is used before them.

Well, thanks, I guess we should close this now :)

[2022-05-20 18:45] #303 closed

[2022-05-22 16:44] InLaw opened #304 "try to read "Rechnungsdetails" from an Amazon invoice from Germany"
**Describe the bug**

**Steps to reproduce the bug**
try to read "Rechnungsdetails" from an Amazon invoice from Germany

**Expected behavior**
would be nice if table structure could get read

**Code**
[code]

**PDF**

**Screenshots**
![202205-22_1842_43__](https://user-images.githubusercontent.com/16096709/169706243-b0dfc560-370d-452b-8bef-6b19a3e8d886.png)

**Environment**

- OS: Linux 5.15.39
-

[2022-06-06 06:59] jorgesisco opened #306 "zsh: no matches found: camelot-py[plot]"
I am trying to install plot `pip install camelot-py[plot]` to perform some visual debugging and I get the message shown on this issue's title.

am I missing something here?

[2022-06-08 06:53] MartinThoma commented on #215
PyPDF2 is maintained again since April 2022. I'm the new maintainer. Since then, we fixed a lot of things. I'm currently downloading 800,000 PDF files from Tikas test dataset to ensure we can parse them.

Technical nitpic: Most of those issues are actually not bugs in PyPDF2, but robustness issues. The files don't conform to the PDF standard. PyPDF2 still tries to support them, but not following t

[2022-06-14 13:36] elsheikh21 opened #310 "Trying to parse an Arabic table in a pdf file"
**Describe the bug**

I am trying to parse 2 tables in an -Arabic- pdf file, yet the output is either scrambled or the tables are merged together

**Steps to reproduce the bug**

1. install camelot-py[cv] version 0.10.1 using `poetry run python -m pip install camelot-py[cv]
2. Download Ghostscript release `gs9561w64.exe`
3. run the code

**Expected behavior**

To output (1 or) 2 CSV files  with th

[2022-06-17 10:51] #310 closed

[2022-06-17 10:53] huyz commented on #306
Yes, you're probably using a shell such as zsh that interprets `[` and `]` as special for file globbing.
So just do:

`pip install 'camelot-py[plot]'`

[2022-06-17 13:34] LuizMosciaro opened #311 "No documentation to '.parsing_report' or '.df'"
Hi,
I was using the method 'tables[0].df' and 'tables[0].parsing_report' in VSCode and realized it doesnt popup the Intellisense suggestions like while i'm using 'tables.pd.read_excel(file)' for example.

What happens:
![2](https://user-images.githubusercontent.com/93156186/174308567-8b0b5a88-e10c-4dd4-883b-880525591b69.png)

Expected:
![1](https://user-images.githubusercontent.com/93156186/174308

[2022-06-20 12:40] HeskethGD commented on #103
Would love this feature to be implemented. The use case is an AWS Lambda function that has read a pdf from S3, processed it with regex to find relevant pages then we wish to pass the relevant pages as bytes to a table extraction package, ideally without having to write/read to/from file again in the Lambda.

[2022-06-20 15:41] wangui-monicah commented on #286
I've encountered the same issue. However, even after installing 'opencv-python'.. the ModuleNotFoundError persists.

[2022-06-22 19:45] LuizMosciaro commented on #286
You have to downgrade to opencv-python==4.5.5.64.
Try also to make a new clean virtual environment
If it helps you follow the reading and comments from the issue i opened [here](https://github.com/pyinstaller/pyinstaller/issues/6907)

[2022-06-23 07:17] RyosukeSakaguchi opened #312 "Input of different table areas on different pdf pages."
If a PDF has multiple pages, I want to specify a different table area for each page.
In other words, I would like the `table_areas` argument of `camelot.read_pdf()` to be able to specify the table area per page as follows.

[code]
The dictionary key is the page number.

[2022-06-24 07:14] lahdjirayhan commented on #195
@vinayak-mehta @Semnodime

I have tried this problem myself and can confirm that the above documentation makes all five tables detected:

[code]

[2022-06-24 07:35] lahdjirayhan commented on #174
Using version 0.10.1, I can't reproduce the issue. It is likely that the problem is fixed already.

[2022-07-14 12:03] MinMagar opened #314 "Black background color problem"
It can not process table that has black background color.

It read all columns values of that row as single value.
![Screenshot from 2022-07-14 17-47-48](https://user-images.githubusercontent.com/45910116/178978045-9f747648-b108-40fc-ab42-56d66ea08533.png)

![Screenshot from 2022-07-14 17-47-22](https://user-images.githubusercontent.com/4591011
![Screenshot from 2022-07-14 17-46-52](https://user-i

[2022-07-21 12:59] themakerboy opened #316 "pdf not parsing properly"
I wrote some python code to parse PDF files in my system(mac os). In my case, there can be multiple tables on a page in a PDF file. Camelot can parse all tables perfectly in my system. But when I try to run the same code on the server (AWS EC2 Ubuntu) Camelot can only able to parse only a few tables.

[2022-07-21 18:31] captn3m0 opened #317 "Can't set mode using to_* methods"
**Describe the bug**

The file writing mode cannot be set using camelot

**Steps to reproduce the bug**

Attempt to use `to_markdown` while setting a custom mode to append all tables to the same file.

**Expected behavior**

The pandas to_markdown method should get invoked with the correct mode: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_markdown.html

**Code**

[2022-07-22 17:19] peterhvoth opened #318 "ZeroDivisionError in text_in_bbox for some tables"
camelot.read_pdf(fn, pages='all') fails occasionally with a ZeroDivisionError.

I chased the problem down to page 20 on https://www.accessdata.fda.gov/cdrh_docs/pdf6/P060040B.pdf

Near as I can tell, the problem relates to the fact that the page includes both a table that includes a bar graph. At least there's no problem with extracting tables on any other page in that file, and that's the only th

[2022-07-25 16:35] ottohirr opened #319 "Bug: Hardcoded value of '10' limits number of tables in page"
There is a hardcoded number that limits the number of tables on a page.

In function, ``find_contours``, located in file, ``image_processing.py``, there are the following two lines:

[code]
(see msg bottom for link to code)

This drops any tables past a count of 10 per page.

It may seem reasonable that there would be less than 10 tables for a page.

However a simple example of a pdf that may cont

[2022-08-01 11:48] endovitskayaV opened #322 "Multi-column page layout processing"
**Describe the bug**

When processing multi-column page, tables are not detected correctly - multi-column page layout is not taken into account and so all three tables on page 6 from two columns of the page are merged in one. Camelot plots:

![image](https://user-images.githubusercontent.com/19566575/182137575-34189811-02eb-4506-9c1a-c8af028eb213.png)
![image](https://user-images.githubusercontent

[2022-08-05 17:24] bosd commented on #304
Have you tried parsing it using excalibur?
Maybe you first need to define the stream settings.

[2022-08-05 18:27] InLaw commented on #304
Working with Nixos

`excalibur initdb`
[code]

[2022-08-12 21:16] bosd opened #323 "Unknown Flavor, excaliber json incompatible with camelot"
**Describe the bug**
When using the Excalibur to create JSON rules, it is impossible to use them in the **kwargs of camlot cli.

**Steps to reproduce the bug**
1. Upload a file to Excalibur
2 Generate extraction rules in excalibur
3 Go to the Excalibur Rule manager. Download or copy the JSON rule
Example:

 {"pages":{"1":{"table_areas":["83.39951690821256,619.54177384945,509.9832528180354,466.1912

[2022-08-14 13:03] YouMate1401 commented on #263
Hi I get this error in some pdf files when I use this code
would you please guide me?

[2022-08-21 00:15] josephernest opened #324 "Encoding problem with accented letters / diacritic"
When using:

    t = camelot.read_pdf("test.pdf", pages=1, flavor='stream')
    print(t[0].df)

I have weird characters in the extracted DataFrame:

Ø instead of é
Œ instead of ê
(cid:128) instead of €

(Sadly I can't share this precise PDF here)

What can create this encoding problem?

Note: doing `read_pdf(..., encoding='utf-8')` didn't help.

[2022-08-26 18:11] Sveouu commented on #10
@vinayak-mehta  Hi, I am in a situation where I would benefit from the option to use lattice and  stream in combination. Can you advise if there is likely to be going any work going into making this possible or are you aware of a workaround?

[2022-08-27 16:55] Divyansh-Gemini opened #325 "Failed to install cryptography"
#### Chaquopy version
12.0.1

#### Relevant parts of your build.gradle file
        ndk {
            abiFilters "armeabi-v7a", "x86"
        }

        python {
            buildPython "C:/Users/LENOVO/AppData/Local/Programs/Python/Python310/python.exe"

            pip {
                install "camelot-py"
            }
        }

#### Describe your issue
[code]
![Screenshot (495)](https://user

[2022-08-28 13:16] Divyansh-Gemini commented on #325
Issue Solved...

https://stackoverflow.com/questions/73511896/failed-to-install-cryptography-in-android-studio-using-chaquopy

[2022-08-28 13:16] #325 closed

[2022-08-30 00:49] paulfruitful opened #326 "Runtime error~import cv2"
**Describe the bug**
Traceback (most recent call last):
  File "/home/kali/Documents/PDF-Table-Exctractor/reader.py", line 1, in <module>
    import camelot
  File "/usr/local/lib/python3.10/dist-packages/camelot/__init__.py", line 6, in <module>
    from .io import read_pdf
  File "/usr/local/lib/python3.10/dist-packages/camelot/io.py", line 5, in <module>
    from .handlers import PDFHandler
  F

[2022-09-04 10:05] euler007 commented on #326
Any update on this? getting same error on MacOs Monterey

[2022-09-04 22:42] paulfruitful commented on #326
No update on this yet, I am still struggling to figure out what's wrong.

[2022-09-13 15:09] pboettch opened #327 "It seems tables with only one line are not identified as such?"
I have some PDF (generated from Word's docx I think) where sometimes one line of the table is on a second page. In this case camelot does not identify the (second) table.

I tried several things, I transformed the pages to black and white with `gs`. I merged the pages with `dfjam --nup 1x2 --paper a4paper <filename>` before passing them to camelot. Still, camelot does not extract the second table.

[2022-09-13 17:11] ramSeraph commented on #327
When on separate pages experiment with https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines it might work.. on single pages.. I am not so sure

[2022-09-14 17:32] pboettch commented on #327
I switched to pdfplumber which, for my case, does exactly what I needed.

[2022-09-14 17:32] #327 closed

[2022-09-26 16:21] NixBiks opened #330 "Is this no longer maintained?"
I just want to ask if this is no longer maintained? Wonder if anybody "took over" somewhere?

[2022-09-27 09:28] gfsemelas opened #331 "Feature request"
In principle I don't know which are the coordinates of my table in my PDF. It would be nice to have a ```search_for``` attribute for a document that tells you the coordinates of the text you are looking for, like in ```fitz``` from ```pymupdf```: [https://pymupdf.readthedocs.io/en/latest/page.html#Page.search_for](https://pymupdf.readthedocs.io/en/latest/page.html#Page.search_for)

[2022-10-02 10:07] tekumara opened #332 "Please make sure that Ghostscript is installed on macOS M1"
[code]

Ghostscript has been installed via `brew install ghostscript`

[2022-10-02 10:08] tekumara commented on #332
To resolve set
[code]

[2022-10-02 10:08] #332 closed

[2022-10-03 14:40] Erenaliaslangiray opened #333 "Do you have stream + only vertical lines seperation?"
Hello,

I am working with a pdf which I can not share due to confidentiality, however my question and issue is very simple. The pdf format is what we call "stream" BUT with vertical tabular lines between each column. So in the end I dont have row-lines but have column-lines.

When I use camelot like this:
`camelot.read_pdf('mypdf.pdf', flavor="stream", pages="all", split_text=True)`
since my 2 col

[2022-10-10 08:08] ramSeraph commented on #330
If someone hasn't "taken over" yet.. Let's discuss if anyone is willing to.. here?

[2022-10-12 23:02] ottohirr opened #334 "`table_region` does not imply order to returned table list"
### TLDR;
Specifying a specific order to table locations via table_regions will not result in a returned list of tables within those regions. The return list of tables seems to be simply listed from top to bottom of the pages. This is an unexpected behavior (in my perspective). It means that there is no method to specify the order of the returned list of tables.

### Situation
Often reports are wr

[2022-10-13 22:48] ottohirr commented on #334
After digging into how `table_regions` is used, it is not best to "extend" the concept of its use to include an ordering of tables as I suggested in original post. See its use in `Lattice._generate_table_bbox()`.

An ordering can be placed on the tables by examination of each table's `Table.cols` and `Table.rows` without having to change Camelot's library, though it would be nice to have within th

[2022-10-13 22:48] #334 closed

[2022-10-19 08:29] vaibhavkansallumiq commented on #333
i am facing the same issue

[2022-10-22 15:56] chenchunaidu opened #335 "Zero division error"
**Describe the bug**

[code]

**Steps to reproduce the bug**

**Expected behavior**

**Code**

[code]

**PDF**

**Screenshots**

**Environment**

- OS: [e.g. macOS]
- Python version:
- Numpy version:
- OpenCV version:
- Ghostscript version:
- Camelot version:

**Additional context**

[2022-10-27 11:40] nikhilvishwanath commented on #330
I'd like to contribute

[2022-10-28 14:00] kdannies commented on #197
I have the same problem. Picture is here:

![image](https://user-images.githubusercontent.com/1640073/198628141-52406eff-7d6e-4c1b-8a44-572c9104e8e8.png)

Code:

`tables = camelot.read_pdf(filename)`

Resulting text from this field:

     b\n  G\na)\nWindpark Dachsberg 3 GmbH &\nCo. KG\n)\nPotsdam\neschäftsanschrift:\nGregor-Mendel-Straße 24 A,\n14469 Potsdam

Is this fixable by any configuration?

[2022-11-09 19:30] nealmcb commented on #286
Thanks folks. Based on your input above, this worked for me and may help others who appreciate the benefits of `pipx`:

[code]